[2012-03-14 16:52] willkg opened #19 "category video list is too long"
PyCon US 2012 has like 200 videos in it or some crazy number like that. If you go to the category page, it lists them all which:

1. makes for a really long page that's hard to read through,

2. is sorted in some unclear order, so new videos can pop up anywhere in the list

I don't want to do pagination since that just creates pages of videos which is annoying.

There are several things that need

[2013-07-22 17:52] fortpedro opened #36 "Filtering/ordering of search results"
As there gets to be more great stuff on pyvideo.org -- which is awesome btw -- it is becoming slightly more difficult to find the thing you're looking for.  For example, just now I searched for "SQLAlchemy," because I've never used it before and was looking for a tutorial.  Lots of stuff, but it wasn't in chronological order, and some of it was in languages I don't know.  So:

1. Filter search res

[2013-10-21 14:41] willkg opened #37 "blip.tv change of terms of service"
Some/many/all of the Python conference videos that are hosted on blip.tv are going to "expire". We need to migrate them somewhere else. This issue covers that.

[2013-12-09 17:46] willkg opened #39 "youtube-dl supports pyvideo"
youtube-dl supports pyvideo:

http://rg3.github.io/youtube-dl/

Should check that out to see what it entails. If it's super fine, then we can suggest using that to download videos..

[2013-12-28 21:47] willkg opened #41 "need discussion medium"
We hang out on IRC on `#richard` on freenode. However, that's not really good for discussion and it's synchronous and sucks for timezones and all kinds of things.

We need a communication medium for discussing admin things. It would give us the following things we need:

1. a way for us all to keep up-to-speed with problems, discussions and decision making
2. a place for us to discuss problems, wo

[2014-01-01 15:27] willkg opened #42 "set up reindexing cron job"
Right now, there's no reindexing cron job, so when Carl goes and adds new videos, the search index gets stale.

Two options:

1. (best option) fix richard so that on post-save, the item gets reindexed and on pre-delete, the object gets unindexed
2. (stop-gap) create a cron job that updates the index every 15 minutes

[2014-01-01 15:28] willkg opened #43 "write up pyvideo install doc"
I've got a document half-written that covers how pyvideo is set up. That should get finished and fixed and then checked into this repository.

[2014-03-02 01:57] willkg opened #45 "convert .flv files to .mp4 files"
We downloaded a ton of .flv files from blip.tv when we were saving everything. We need to convert them to an HTML5 friendly .mp4 file.

The following things need to be done here:

* [ ] generate list of .flv files that need converting
* [ ] download one of the .flv files and figure out what the ffmpeg magic is to convert it to an HTML5 friendly .mp4 file
* [ ] write a script that can pull down .fl

[2014-03-06 14:25] willkg opened #46 "prevent robots from cruising dev.pyvideo.org"
dev.pyvideo.org is a development server--it shouldn't be indexed by search engines.

This issue covers writing up a robots.txt file that says "bugger off!" for dev.pyvideo.org.

[2014-04-14 05:57] leourbina opened #47 "Trying to login causes a 500 error"
Using the login button triggers the authentication flow using mozilla persona, however once it redirects back to the pyvideo site a 500 error is returned.

[2014-04-14 16:31] saml opened #49 "sort by video length and upload date."
As an agile story writer, I want to sort videos by video length and/or original video upload date.

Story estimate: 12 pt.

[2014-04-17 20:24] willkg opened #56 "draft text lacks red background"
When a video is in draft mode, it's not connected anywhere, but you can view it on the site if you know the url.

When you view such a video, it shows a "Yo--this is a draft" kind of message. The HTML is this:

[code]

That's just showing "normally" and isn't showing with a red background. I'm guessing I didn't update this when I updated the site to the more recent bootstrap.

[2014-04-19 00:42] willkg opened #58 "fix the recorded time on all pycon 2014 videos"
The recorded time seems to actually be the time the video was uploaded to YouTube. That's not really what we want.

So, looks like we need to fix them all by hand.

[2014-05-06 18:49] luanfonceca opened #62 "Pyvideo layout redesign"
Hi folks, i am Django developer with love about web design stuff, so this weekend i started to build a layout redesign... If all you guys enjoy that, i will be really glad to continue this job and in the future implement the new layout. \o/

![Header an The Popular Videos](https://cloud.githubusercontent.com/assets/1490875/2894039/9c7989f2-d54e-11e3-87d2-315bd66222e1.png)

i hope any kind of feedb

[2014-07-29 15:17] codersquid opened #68 "EuroPython 2014 category"
I've started on this, and decided to open an issue to track a few "nice to haves" on top of the normal processing.

- [x] scrape info from youtube channel for basic info
- [x] push basic info to pyvideo
- [x] tell Dinu about this
- [ ] have direct download links from http://video.ep14.c3voc.de/
- [x] follow LOCKSS principle and mirror those on archive.org (nice to have)
- [ ] update pyvideo stuff

[2014-08-05 13:38] willkg opened #70 "EuroPython 2013"
We added EuroPython 2014 videos, but I never got around to adding EuroPython 2013 videos last year.

The url provided in the suggestion is this one:

http://www.youtube.com/user/PythonItalia/videos?shelf_index=4&sort=dd&tag_id=&view=0

This issue covers adding that conference.

[2014-08-11 14:53] codersquid opened #71 "PyCon Australia 2014"
PyCon Australia 2014 videos are up on youtube.

* https://www.youtube.com/channel/UCS9sdEyduD9K83K3GkvQlOA
* http://2014.pycon-au.org/

- [x] snarf youtube videos via steve
- [x] Try to get in touch with the video crew and conference organizers, ideally they'll give us machine readable schedule data
- [x] either merge the scraped stuff with the machine readable schedule data (yay) or hand edit spe

[2014-10-06 16:49] CarlFK opened #78 "dates on home page"
(This is for PyTexas,)

 the date showing is the date I added the record to the db, which was before the event started:  9/26/2014

richard/richard/base/templates/home.html
45             {{ video.added|date:"SHORT_DATE_FORMAT" }}

richard/richard/videos/models.py
227     added = models.DateTimeField(auto_now_add=True)

curious, i don't see that in the django admin...  huh.

[2014-10-25 16:15] codersquid opened #79 "Taipei Python usergroup videos"
Taipei Python has a user channel with group videos.

https://www.youtube.com/user/taipeipython/feed

[2014-10-29 13:56] willkg opened #80 "pycon uk 2014"
I just got this email:

[code]

This issue covers adding the PyConUK videos.

[2014-10-29 13:57] willkg opened #81 "pycon us 2009 videos missing speaker data"
The PyCon US 2009 videos are missing speaker data.

This issue covers adding that.

[2014-11-05 03:36] stenci opened #82 "The list of speakers is case sensitive"
For example there are two speakers that are very likely the same person: Guido van Rossum and Guido Van Rossum

[2014-12-07 20:26] codersquid opened #84 "PyConArgentina 2014"
PyConAr videos are up.

* https://www.youtube.com/channel/UCa8tmvBoe5L6BGmRcQHF8qw/videos

Information is here, and here.

* http://myconference.co/pyconar2014/
* http://python.org.ar/Charlas#PyConAr_Rafaela_2014

[2014-12-19 09:38] mdirik opened #85 "Broken download link"
In http://pyvideo.org/video/3129/command-line-programs-for-busy-developers-by-aaro , ogv download link leads to a 404.

Thanks

[2014-12-31 00:37] michaelaye opened #86 "search results sorted by time?"
Hi!
Thanks for your great service, but could the search results maybe be sorted with newest first?
Cheers!

[2015-01-14 18:21] willkg opened #87 "rework deployment; update pyvideo to latest richard"
Our deployment story is currently a big mess. This is a problem because richard had some big changes lately and we haven't been able to update pyvideo to the new things.

Further, only I have accounts, so only I can update.

Further further, I set it up and the setup is janky.

Further further further, nothing about our current deployment system is repeatable in any way short of someone discoverin

[2015-01-14 19:15] willkg commented on #87
This is a stab at item 1, I think: https://github.com/pyvideo/richard-ansible

[2015-01-14 19:32] willkg commented on #87
I skimmed richard-ansible and it's interesting. It uses rackspace thingies to set up a new pyvideo box. It covers setting up postgres and some other things.

However, I think I want something more generic than that so that it's possible to use it in other scenarios. e.g. FooConf wants to set up a richard instance for their videos. Someone wants to set up a richard instance for videos related to Pi

[2015-01-14 21:16] CarlFK commented on #87
for the current pyvideo install, all we need is the data in the db and some
templates that skin it, right?

if so, then I'll be happy to take a copy of those two things and test that
I can build a new pyvideo using a new deployment

On Thu, Jan 15, 2015 at 8:32 AM, Will Kahn-Greene <notifications@github.com>
wrote:

--
Carl K

[2015-01-15 00:13] codersquid commented on #87
@willkg with the ansible stuff, a user can disregard rackspace and provide an inventory file for hosts that are not on rackspace. I just wanted a way to automate rackspace provisioning. I've been creating those vms by hand. We can have ansible stuff and leave the vm creation as an exercise to the user.

[2015-01-15 00:17] codersquid commented on #87
for more deployment examples, here's my experiment with ansible from half a year ago, before the way config changed. It might be more straightforward since I don't use the nginx galaxy role..
  * https://github.com/codersquid/richard-playbook

I've also got a fabric deployment repo, which @CarlFK has used. It's very rudementary.
  *  https://github.com/codersquid/richard-deploy which @CarlFK has u

[2015-02-10 23:50] codersquid commented on #88
@CarlFK do you still have the files for this?

[2015-02-10 23:53] codersquid commented on #84
More videos have been added to their channel and need to be listed on pyvideo.

[2015-02-11 00:24] mdirik commented on #88
@codersquid FYI, I don't know your workflow but the described solution is still applicable even if the original files aren't available.

[2015-02-16 14:11] benregn opened #89 "Wrong duration PyOhio 2013 - APIs made for mobile networks"
The duration states 01:00 but actually is 33:02.

[2015-02-16 16:56] CarlFK commented on #89
right.  the 1:00 is what was on the event schedule.  33:02 is what is
correct.
I'm working on this now, but it's only going to apply to things posted in
the future.

On Mon, Feb 16, 2015 at 8:11 AM, Tomas Thor Jonsson <
notifications@github.com> wrote:

--
Carl K

[2015-02-18 03:57] CarlFK commented on #89
veyepar updated, it will now send the time of the video, not the allocated
time.

Which is the source of this vidoe's error (which I fixed by hand)

On Mon, Feb 16, 2015 at 10:55 AM, Carl Karsten <carl@personnelware.com>
wrote:

--
Carl K

[2015-02-18 05:53] benregn commented on #89
:+1:

[2015-02-18 05:53] #89 closed

[2015-02-27 00:04] cellularmitosis commented on #90
(essentially, I want the "Latest videos" feature which is on the home page, but I want more than 10 videos to browse through).

[2015-02-27 17:46] codersquid commented on #90
Does this issue sound like what you want? https://github.com/pyvideo/richard/issues/88

[2015-02-28 00:32] cellularmitosis commented on #90
That sounds interesting, but is a lot more complicated than just showing
all of the videos sorted by date.

On Fri, Feb 27, 2015 at 11:46 AM, Sheila Miguez <notifications@github.com>
wrote:

[2015-03-02 15:08] codersquid commented on #90
@cellularmitosis right, but that issue will be broken out in to parts, and having a way to browse by date would be a subset of work done on it. Hmm, I am never sure how to handle that type of behavior with github issues. perhaps opening a smaller issue and referring to the big one would be useful. @willkg any comment?

@cellularmitosis if we don't get an issue going for you in a timely fashion cou

[2015-03-02 15:35] cellularmitosis commented on #90
Sure!  Thanks.

Sent from my iPhone

[2015-03-11 00:21] codersquid commented on #87
status update, I've got https://github.com/pyvideo/richard-ansible working for me. It deploys a simple stack. no haproxy, or whatnot, no elasticsearch, etc. Also, It does not stand up VMs for you.

@willkg we can add more roles as needed.

[2015-03-23 13:06] willkg commented on #91
I'm still working on this, but I think I've got some ideas.

[2015-03-23 15:24] codersquid commented on #91
I made the git ref a variable. The way I see things, we would tag releases, and the git ref should refer to a release and not master.

[2015-03-23 15:26] willkg commented on #91
Right... So there are two repositories involved in a deployment: richard and pyvideo. I'm not sure where that tag would exist. Would it exist in richard-ansible? Does that mean that everyone using richard-ansible is deploying pyvideo?

[2015-03-23 15:45] codersquid commented on #91
btw, :+1: to the convenience script in case I wasn't clear that I like the idea.

Let me make sure I understand your comment about `--extra-vars`.

I would tag everything, and by default richard-ansible would deplay a release of a pyvideo site-repo (to exist) with a default settings module. (unless we make a new site-repo that is simple and generic).

Do you mean that someone would override the th

[2015-03-23 16:49] willkg commented on #91
I think I understand that. I'll fiddle with it and throw together a PR and you can tell me whether I'm close or not.

I think the default for site-repo should be "no site-specific stuff". For pyvideo, we'd have the value be the pyvideo repo, but we'd store that somehow outside of richard-ansible. Maybe it works to have a settings file we email back and forth or a gist or something.

As a side note

[2015-04-03 13:54] willkg commented on #91
I set up a new repository https://github.com/pyvideo/pyvideo-deploy which has the deploy scripts and the briefest documentation possible.

I'll talk with @codersquid about everything we've got so far and we'll figure out what's missing and make sure she can do deploys. In the meantime, I'm going to call this done. Further development will be done in new issues.

[2015-04-03 13:54] willkg commented on #87
This is done now! pyvideo and dev.pyvideo are both running on the latest richard.

[2015-04-03 13:54] #87 closed

[2015-04-03 13:56] willkg commented on #73
We rebuilt pyvideo and pushed everything out. Should be all set now.

[2015-04-03 13:56] willkg commented on #56
This should be fixed now.

[2015-04-03 13:56] #56 closed

[2015-04-03 13:57] willkg commented on #47
I updated to 0.10 and then to 0.11. This should be all set now.

[2015-04-03 13:57] #47 closed

[2015-04-03 13:58] willkg commented on #43
We don't need this anymore. We've got a https://github.com/pyvideo/pyvideo-deploy repository now. It's got some minor documentation. Any new docs should happen there.

[2015-04-03 13:58] #43 closed

[2015-04-03 13:59] willkg commented on #37
This is old-ish. I think we're mostly done here or done enough that we can close this out.

[2015-04-03 13:59] #37 closed

[2015-04-03 17:42] willkg opened #92 "implement database backups"
The new system doesn't have database backups.

This issue covers implementing them in pyvideo-deploy. Probably want to do a cron job and maybe build in the infrastructure for pushing out new cron jobs and updating the existing ones.

[2015-04-04 00:31] willkg commented on #93
Can you be more specific?

[2015-04-04 00:36] posoneto commented on #93
I bookmarket the following url: http://pyvideo.org/search?models=videos.video&q=scikit&category=PyCon%20US%202014
and it worked, but now it bring an empty page

[2015-04-04 00:39] willkg commented on #93
I updated the index and search is working now. Sorry about that!

[2015-04-04 00:41] posoneto commented on #93
Thank you very much willkg, that was a quick response.
I appreciat it.

[2015-04-04 01:05] willkg commented on #92
I think I have this set up now. I need to wait a few days to see if it's working correctly.

[2015-04-10 18:33] fisadev commented on #84
Hi!
All the videos from the conference are now uploaded to that channel (it took some time and work, but we finished).
Could you include them in the site? :)

[2015-04-13 15:05] willkg opened #95 "switch to https"
Waiting for this:

https://letsencrypt.org/

Then we should set up https and have http redirect to https. This will require us to change richard-ansible, but I'm not sure offhand how that'll work in a way that lets sites set up http or https.

[2015-04-13 15:08] willkg commented on #92
The cron job is working super. @codersquid pointed out we should move the ansible stuff from pyvideo-deploy to richard-ansible, so I wrote up an issue for that.

We still need to move the backups off the box so if we lose the box we don't lose all the things.

[2015-04-13 15:09] willkg commented on #42
We set up a cron job that kicks off once an hour to reindex. I think that's probably fine and it doesn't require us to set up celery or any fancy model stuff.

Closing this out.

[2015-04-13 15:09] #42 closed

[2015-04-14 14:40] willkg opened #96 "stop it with the ALLOWED_HOSTS error emails"
Our ALLOWED_HOSTS setting is fine. We don't need error emails for every bot trying to find issues with our server.

This issue covers making those error emails stop.

[2015-04-16 13:09] willkg commented on #98
We typically add conferences and not single videos, so I'm going to say "no" for now.

In the future, please provide the url for where the video is hosted and metadata about the video.

[2015-04-16 19:35] codersquid commented on #94
I scraped the channel today and have everything currently there up, http://pyvideo.org/category/65/pycon-us-2015

[2015-04-16 19:39] willkg commented on #94
https://us.pycon.org/2015/schedule/presentation/330/

That's missing from the YouTube channel. I don't know offhand what other videos are missing. Maybe they haven't posted everything, yet. We should maybe double-check again next week.

[2015-04-16 19:59] codersquid commented on #94
I added the speakerdeck and github repo for slides to the category description, but they are empty right now. I'm guessing they are in the process of making everything available. I will also check this again next week to see if anything is posted. If not, we can remove the links.

[2015-04-17 00:47] codersquid commented on #94
Transcripts are getting posted on https://www.dropbox.com/sh/smjar5fxeeeu462/AAB7P3kgFmNramp4DiX6m6hTa?dl=0 and I'm mirroring it at https://archive.org/details/PyconUs2015Captions

Maybe later we can see how to get the stuff in to Amara.

[2015-04-18 17:42] treyhunner opened #99 "Add videos for San Diego Python Users Group"
Our YouTube channel: https://www.youtube.com/channel/UCXU-oZwaHnoYUhja_yrrrGg

We can adopt and document a consistent format in our descriptions if that makes it easier.  Suggestions welcome.

Thanks!!

[2015-04-20 21:19] zoner14 opened #100 "Open source entire project?"
Are there any plans to open source the entire pyvideo website?  I was looking to add a couple enhancements here and there since I'm familiar with Django.

[2015-04-20 21:21] willkg commented on #100
The code that runs the site is called "richard". There's a link in the footer of every page on pyvideo. Code is here: https://github.com/pyvideo/richard

[2015-04-20 21:21] #100 closed

[2015-04-22 08:56] sfermigier opened #101 "PyData Paris 2015 videos"
All the videos have been posted to youtube: <https://www.youtube.com/watch?v=E3p2gX67oBA&list=PLzjFI0G5nSsqCLCRa-Iyh5G_yIFn-Bw9G>.

We can help by providing the proper metadata. Tell us how to proceed.

Also, given that the proximity with PyCon US, maybe it's a good thing to wait a bit before adding the collection to Pyvideo..

[2015-04-22 23:05] codersquid commented on #101
Thanks @sfermigier, it was easy for me to scrape the data from the channel, but please go through and make sure I didn't get the wrong information on anything. One didn't have speaker info so I found their names by hand.

http://pyvideo.org/category/66/pydata-paris-2015

I don't think it's too soon to post the collection. If @willkg disagrees I can flip the videos back to draft mode and they won't

[2015-04-23 00:51] willkg commented on #101
I'm totally fine with putting videos on pyvideo as soon as someone gets to them. I don't think we have to wait for the glow to recede from the latest set.

[2015-04-23 00:55] codersquid commented on #101
@sfermigier I clicked around in a few videos and they were English but I haven't watched them all. If any are French please let me know and I'll update the language description.

[2015-04-23 02:53] codersquid commented on #101
I'll close this now. If I missed anything, please reopen.

[2015-04-23 02:53] #101 closed

[2015-04-23 04:56] sfermigier commented on #101
Thanks, everything seems fine to me. The talks are in english, indeed.

[2015-04-23 07:40] malemburg commented on #70
This URL is the playlist for EuroPython 2013:

https://www.youtube.com/playlist?list=PL8uoeex94UhF5drIP18ZB9uU3r2P_DARE

Our YouTube channel (http://europython.eu) has the videos for EuroPython 2011, 2012, 2013 and 2014.

[2015-04-23 07:43] malemburg opened #103 "Add Python Meeting Düsseldorf (PyDDF) videos"
Here's our YouTube channel with the playlists: https://www.youtube.com/user/PyDDF/playlists

We create one playlist per meeting. If that's too much work to index, you could also use the feed: https://www.youtube.com/user/PyDDF/videos

Thanks.

[2015-04-23 07:45] malemburg commented on #103
Note: The videos are in German.

If you need more infos about PyDDF, please ping us at info@pyddf.de.

[2015-04-23 14:08] claytron opened #104 "IndyPy Web Shootout Videos"
Videos from the IndyPy Web Shootout (Feb 2013)

https://www.youtube.com/playlist?list=PLt4L3V8wVnF6QidryQvfCwsi7u4rwIZoP

[2015-04-23 14:11] claytron opened #105 "Pythology: Testing and Debugging videos"
Videos from the IndyPy Pythology Lecture Series: Testing and Debugging (Feb 2015)

https://www.youtube.com/playlist?list=PLt4L3V8wVnF5ki1q7vC78Jex3sL9WngtO

[2015-04-24 10:28] encukou opened #106 "Pyvec - videos from Czech user groups"
Hello,
Videos from Czech Python meetups (in Prague, Brno and Ostrava) are added to this account when (and if -- volunteer time is short) they're made available: https://www.youtube.com/user/pyvec

Most are in Czech.

[2015-04-28 20:28] honzajavorek commented on #106
Note: Some videos from Brno are also at https://www.youtube.com/channel/UCzE1AyBbdp8_fbDvnrW5GgA. If it would be easier to track only one channel, we could probably merge it somehow - just let us know.

[2015-05-01 13:28] codersquid opened #107 "what are your thoughts on tracking on going events like user groups?"
Usergroups are ongoing versus conferences, which are not. This means that an issue to add a usergroup would be good to get all their past events, but future events are going to depend on me or someone tracking their sources of information and cleaning up the data after I grab it.

So, I could set up a periodic job to grab things from channels, but the information will be of varying quality, might

[2015-05-01 15:02] CarlFK commented on #107
I would add "contact name/email" and "feed url" to the category table.

contact is a reference so that a human can know who to contact.
I think a monthly automated "do you have new videos?" message is bad.

feed url is something that can be polled daily or weekly to check for
changes.
at first, alert the admins (will and skay) and who can just scrape the
updates and be done with it.

maybe in the

[2015-05-08 19:45] willkg commented on #96
For the record, you can test this with:

[code]

That still kicks up an HTTP 400, but no longer sends one of those emails.

[2015-05-09 00:26] truth1ness opened #108 "Cleaned up sound"
I cleaned up the audio on this difficult to hear video. What's the best way to submit the updated video file to you? Should I just post it to my own youtube account and post the link?

http://pyvideo.org/video/545/pyohio-2011--toilets-and-teleports---a-study-in-m

[2015-05-23 15:55] natea commented on #110
It appears that this is the 511MB file associated with the video:
http://05d2db1380b6504cc981-8cbed8cf7e3a131cd8f1c3e383d10041.r93.cf2.rackcdn.com/djangocon-2010/35_lightning-talks-day-1.flv

[2015-05-25 23:47] willkg commented on #110
What do you mean by "doesn't seem to load properly"?

[2015-05-26 00:43] CarlFK commented on #110
both of these, the player just shows the spinning wheel circle:

http://pyvideo.org/video/35/djangocon-2010--lightning-talks---day-1
http://pyvideo.org/video/56/djangocon-2010--customizing-the-django-admin

I didn't try any others from djangocon-2010

this does play:
mplayer
http://05d2db1380b6504cc981-8cbed8cf7e3a131cd8f1c3e383d10041.r93.cf2.rackcdn.com/djangocon-2010/56_customizing-the-django-ad

[2015-06-05 17:34] codersquid opened #111 "add may chipy meeting"
This is a reminder for me to add the May chipy meeting.

[2015-06-05 20:23] codersquid commented on #111
It's on youtube, but there will be a version with the sound cleaned going up, so wait until then.

[2015-06-09 17:11] codersquid opened #112 "Add PyCon APAC 2015"
https://tw.pycon.org/2015apac/en/

(I read a nice post from someone at Canonical recaping the event).

[2015-06-09 17:13] codersquid commented on #111
It's here.

https://www.youtube.com/watch?v=lFu6RH8SD2g

Ignore the description, it is not accurate.

[2015-06-14 15:49] codersquid opened #113 "PyCon SEI 2015"
17-19 April
https://www.youtube.com/user/pyconitalia/feed
https://www.pycon.it/en/

Should the category be PyCon Italia or PyCon SEI?

[2015-06-15 18:06] codersquid commented on #113
Done http://pyvideo.org/category/69/pycon-italia-2015

[2015-06-15 18:06] #113 closed

[2015-06-17 20:06] stonebig opened #114 "pycon SE (Sweden) 2015 had at least one interesting talk in english"
https://www.youtube.com/watch?v=Niq-HoraNPo

[2015-06-17 20:47] codersquid commented on #114
Thanks for the heads up!

We should add the entire conference, not just English talks. We do that for other conferences.

here's the channel.
https://www.youtube.com/channel/UCH_2cuWzFMyCPvm75lJJ6wg

[2015-06-17 21:47] codersquid commented on #114
Done http://pyvideo.org/category/70/pycon-se-2015 (they made it easy by having descriptions and speaker info on the youtube pages!)

[2015-06-17 21:47] #114 closed

[2015-06-18 06:11] stonebig commented on #114
thanks !

[2015-06-18 06:21] stonebig commented on #114
you have also missed Pycon FR 2013, by the way: https://www.youtube.com/channel/UC1KLo7CmIYsCnA1_hVk4QhQ

the "PyConFR 2013 - Marc Chantreux - du beau code Perl" was a great moment

[2015-06-18 11:32] willkg commented on #114
@stonebig Please open up a separate issue for that.

[2015-06-18 17:31] stonebig opened #115 "missed Pycon FR 2013 (that looks nicely present on youtube)"
https://www.youtube.com/channel/UC1KLo7CmIYsCnA1_hVk4QhQ

the "PyConFR 2013 - Marc Chantreux - du beau code Perl" was a great moment

I didn't find equivalent links for the 2014 edition.
2015 edition is later this year

[2015-07-10 15:50] cool-RR opened #116 "Add talks from PyWeb-IL #46"
https://youtu.be/NouidSftEX4
https://youtu.be/xmToBYGbvtw

[2015-07-11 19:39] CarlFK commented on #117
Can you add a feature to the conference site to provide an api to the data
behind

http://pl.pycon.org/2014/en/agenda

Something like
http://www.pyohio.org/schedule/json/

On Sat, Jul 11, 2015 at 7:19 AM, Unit03 <notifications@github.com> wrote:

--
Carl K

[2015-07-12 13:40] Unit03 commented on #117
No, 'cause I don't manage the site, but I can provide analogous JSON: https://gist.github.com/Unit03/ea230a8098a1171a3c5f

Remarks:
* I wasn't sure what `kind` value to use for workshops, so I just went with `workshop` :)
* I used `null` in `released` for similar reason
* as talks on PyCon PL are about in half in Polish language, I've added `language` field with ISO-639-1 language code

How can I

[2015-07-12 15:22] CarlFK commented on #117
That's fine. It has the authors.

2013 would be great.

also if you have the youtube URLs handy, add them.
otherwise we have to get the list of video titles from youtub and find the
similar

 "name": "Creating interactive visualizations with Bokeh",

which sometimes isn't so easy.

On Sun, Jul 12, 2015 at 8:40 AM, Unit03 <notifications@github.com> wrote:

--
Carl K

[2015-07-12 18:08] Unit03 commented on #117
I'll take care of 2013 and YouTube links, stay tuned. :)

[2015-07-14 22:01] simonw opened #118 "Typo in "Orgins" on http://www.pyvideo.org/video/3659/some-things-ive-made-with-django"
The title is "Django Orgins (and some things I have built with Django)" - it should be "Django Origins (and some things I have built with Django)

http://www.pyvideo.org/video/3659/some-things-ive-made-with-django

[2015-07-15 02:22] CarlFK commented on #118
fixed.

On Tue, Jul 14, 2015 at 5:01 PM, Simon Willison <notifications@github.com>
wrote:

--
Carl K

[2015-07-15 02:51] CarlFK opened #119 "EuroPython 2011 dupes"
These two EuroPython 2011 vids are the same talk, but different youtube vids:

http://www.pyvideo.org/video/1057/challenges-in-developing-a-large-django-site
http://www.pyvideo.org/video/1074/challenges-in-developing-a-large-django-site-0

The are the same talk, but one of them is bigger (better), so not exactly a dupe.

http://www.pyvideo.org/category/19/europython-2011 shows 183 vids,  I suspect

[2015-07-15 20:24] #118 closed

[2015-07-17 07:23] cool-RR commented on #116
Hi guys,

Just reminding you that I'm waiting for these talks to be added to pyvideo.org.

[2015-07-22 23:49] Unit03 commented on #117
Done:
* 2013: https://gist.github.com/Unit03/2d069f65020c441373e0
* 2014: https://gist.github.com/Unit03/ea230a8098a1171a3c5f

Few remarks:
* videos of only 36 out of ~60 agenda entries from 2014 were published
* 2013's lightning talks agenda entries/YT videos provide almost no metadata (title, description) - I didn't include them
* one talk from 2013 is on YT, but not on agenda on the website - I

[2015-07-25 15:31] codersquid opened #121 "EuroPython 2015"
I found the EuroPython channel, and need to check for all the videos.
https://www.youtube.com/user/PythonItalia/videos

[2015-07-25 15:33] codersquid commented on #121
Right now they have videos with multiple talks in them. I don't know if anyone is going to split them up.

[2015-07-28 18:20] codersquid commented on #121
I emailed the contact address for europython to see if they will be able to split out talks.

[2015-07-28 19:11] codersquid opened #122 "PyOhio 2010 and 2011 have borked data"
http://pyvideo.org/category/11/pyohio-2010

http://pyvideo.org/category/12/pyohio-2011

I'm not sure what happened with these. @carlfk might have data for these that might make it easy to fix, I can't remember if this was something from the bliptvpolypse or what.

[2015-07-28 19:18] CarlFK commented on #122
bummer.  I have 2012 and on.

It is possible there never was good data.

On Tue, Jul 28, 2015 at 2:11 PM, Sheila Miguez <notifications@github.com>
wrote:

--
Carl K

[2015-07-29 23:24] willkg commented on #122
We might have saved PyOhio 2010 and 2011 from blip.tv in which case they
have whatever meh data we could salvage from blip.tv.

On Tue, Jul 28, 2015, at 03:18 PM, Carl Karsten wrote:

It is possible there never was good data.

On Tue, Jul 28, 2015 at 2:11 PM, Sheila Miguez
<notifications@github.com>

wrote:

--

Carl K

Links:

  1. https://github.com/pyvideo/pyvideo/issues/122#issuecomment-125725

[2015-07-31 22:48] codersquid commented on #115
Hi, I have added http://pyvideo.org/category/73/pycon-fr-2013 please check through for any problems and reopen this if you find them.

[2015-07-31 22:48] #115 closed

[2015-07-31 22:48] codersquid commented on #112
I have not found videos for this yet.

[2015-07-31 22:49] codersquid opened #123 "process for updating thumbnails after fixing source urls"
I need to learn the process for fixing thumbnails. There could be a command I don't know about or perhaps one needs to be written.

[2015-07-31 22:51] codersquid commented on #117
@CarlFK said he could work on this one by importing things in to veyepar and pushing up the data.

[2015-08-02 13:30] codersquid commented on #120
@sstugk, is there a chance that you have well structured data for the talks? I've scraped them but the css/html on the page is inconsistent and the results from the scrape aren't all accurate.

[2015-08-03 15:15] willkg opened #124 "get better video viewing data"
We'd like to know how many views a day videos are getting and referrers and some other things like that to help us understand usage for pyvideo.

Currently, we use Google Analytics, but getting data out of GA is a pain in the ass plus we're not using any of the GA features. I'd rather discontinue use of GA.

One possibility is to scrape the logs. Another is find a different/better analytics softwa

[2015-08-03 15:33] codersquid commented on #121
I got a really nice response to my email! There is a person in charge of handling uploads of individual talks, and he is able to work with us to give us the data and links we need.

:sparkles: :octopus: :bouquet:  :sparkles:

[2015-08-10 14:41] redapple commented on #121
I think this is the YouTube playlist you're looking for: https://www.youtube.com/playlist?list=PL8uoeex94UhGGUH0mFb-StlZ1WYGWiJfP

[2015-08-10 14:44] codersquid commented on #121
@redapple Probably correct. Anton from the organizers is uploading the videos and will be providing some json for us that we can use to push the data to pyvideo. That way we won't need to resort to scraping the playlist.

It is pretty awesome that he's doing this for us! He's going to give us the json data mentioned in the [for advanced users](https://github.com/pyvideo/pyvideo/wiki/Suggesting-vid

[2015-08-11 17:11] elliewix commented on #125
I'm prepping a blog post that talks about the data and my analysis.  I ended up having to do a bunch of hand coding to resolve some of the gender values that pretty seriously changed the values.  Running the tool over the data in an automated way could produce interesting results, but I wouldn't want it to be standalone without caveats.  Particularly when talking about assigning individuals gender

[2015-08-11 17:17] willkg commented on #125
The data is entirely public. There's no consents or contracts I've entered into with anyone.

How'd working with the API go? Are there things we can do to make pulling the data down easier?

Also, thank you for working on this!

[2015-08-11 17:26] elliewix commented on #125
Wonderful!  I'll sort out which repository I'd like to go with once I'm ready.  Likely Zenodo so I can link it to the existing github repo. Anyhoo...

The API was interesting.  I downloaded one JSON file I thought had all the video links but it only had ~2700ish.  So I ended up brute forcing range(2, 3667) with the JSON download link to get everything.  I got lovely 404 errors on things that didn'

[2015-08-14 15:00] sstugk commented on #120
Unfortunately not. I myself stumbled on these videos by chance. I stand in no direct relation to the organizers.

Maybe you can make use of the detail pages for sessions and speakers. (presented via Iframes and triggered by the Javascript calls to `load_url(...)` when clicking on "[More Info]" or some speaker names on http://www.scipy2015.scipy.org/ehome/115969/292868/?&)

For example, the plans f

[2015-08-15 20:39] AvdN commented on #121
I sent an email with the metadata today. The data include an archive_url field which points to where the data was uploaded to archive.org (the video_url points to the instance on youtube).

[2015-08-17 16:08] willkg opened #126 "missing pyohio 2015 video"
This video is in draft mode and it doesn't have any video content:

http://pyvideo.org/video/3675

Seems like other PyOhio 2015 videos are up. Any idea what's going on here?

[2015-08-17 20:31] codersquid commented on #126
@carlfk are you in the middle of handling pyohio data for that video?

[2015-08-18 21:28] qasimalbaqali opened #127 "Djangocon Europe 2015 videos are up."
https://vimeo.com/channels/952478/135738762

[2015-08-18 22:26] codersquid commented on #127
Hi @qasimalbaqali by any chance are you associated with the conference? I'd like to know if I can get metadata from you.

[2015-08-18 22:31] codersquid commented on #127
http://2015.djangocon.eu/talks/ looks reasonably scrapable and at first glance they seem to have used the same titles in the vimeo page.

[2015-08-19 01:07] elliewix commented on #127
I went ahead and scraped that out and have a csv of it. Can I attach a file here...? Or should I just email?

[2015-08-19 15:42] za opened #128 "PyCon AU 2015"
Starting this [video](https://www.youtube.com/watch?v=NheE6udjfGI) it was PyCon AU **2015**. Can you add these videos?

Many thanks!

[2015-08-19 16:08] skwashd opened #129 "Video is in Italian"
The language field says that the video at http://www.pyvideo.org/video/3566/managing-docker-with-python is in English,but it is actually in Italian.

[2015-08-19 16:26] codersquid commented on #120
@sstugk Would you like to take a stab at scraping up titles, speakers, and descriptions for me? I was in the middle of doing this but had to switch context to other stuff.

Here is the unknown current state of things. https://gist.github.com/codersquid/50ba13d8c36fc203822a

Ignore the `steve` parts of the code. I was getting some inaccuracies from scraped code. notably when there are multiple spea

[2015-08-19 16:28] codersquid commented on #127
@elliewix that is fantastic.

Here's the gist, for reference. https://gist.github.com/codersquid/9cb25fce7d8d64af81a4

[2015-08-19 16:30] qasimalbaqali commented on #127
@codersquid hey sorry for the late reply, no I am not associated with the conference. Was checking pyvideos yesterday and noticed that the Djangocon EU was not added since a lot of people were looking forward to the release of the videos and thought I would give the heads up :)

[2015-08-19 17:04] elliewix commented on #120
Here's a gist with all the session links, but posters are included: https://gist.github.com/elliewix/1ac9150c6e1b7682df21

[2015-08-19 23:08] hodgestar commented on #102
I wrote a script for reading video metadata from archive.org and converting it to pyvideo.org format.

I've gist the output from PyConZA 2014. Would you mind having a look at it and checking whether it is suitable for uploading? The gist is at https://gist.github.com/hodgestar/c3152a2310e183b258bd.

Mostly for my own records: The file was generated with `python ao2pyv.py "PyConZA 2014" pyconza2014

[2015-08-19 23:51] za commented on #128
@codersquid Oh, they sorted the video into the [playlist](https://www.youtube.com/user/PyConAU/playlists).

The miniconfs are:

* Django
* Education
* OpenStack
* Science and Data

[2015-08-20 00:14] nadrimajstor commented on #88
I've tried starting with 85GiB dump found at [archive.org] (https://archive.org/details/PyconUsVideos200920102011)
Inside archive was:
* 253M `A Curious Course on Coroutines and Concurrency (Part 001)-1996136.flv`
* 135M `A Curious Course on Coroutines and Concurrency (Part 002)-1995823.flv`
* 71M  `A Curious Course on Coroutines and Concurrency (Part 003)-1995872.flv`

Playing them in vlc shows t

[2015-08-20 20:21] codersquid opened #130 "PyCon ZA 2014"
@hodgestar hopped in to irc to let us know about data they have made available for this conference

https://gist.github.com/hodgestar/c3152a2310e183b258bd

which btw I think is all under this pyconza2014 tag on archive.org
https://archive.org/search.php?query=subject%3A%22pyconza2014%22

[2015-08-20 20:24] codersquid commented on #129
Thanks! I changed the language. Let me know if there are any other mislabeled videos.

[2015-08-20 20:24] #129 closed

[2015-08-20 22:20] hodgestar commented on #130
This might be considered a duplicate of https://github.com/pyvideo/pyvideo/issues/102 but this ticket is more focused, so maybe worthwhile keeping both.

[2015-08-21 00:34] nadrimajstor commented on #88
I think I'm seeing the light at the top of the rabbit hole... Using those .flv files from archive.org was a bad start as those are truncated and do not have whole video/audio stream inside them.
Starting with pyvideo.org's mp4 files [Part 1] (http://pyvideo.org/video/213/pycon-2009--a-curious-course-on-coroutines-and-co), [Part 2] (http://pyvideo.org/video/215/pycon-2009--a-curious-course-on-corou

[2015-08-21 12:39] codersquid commented on #130
I'm closing it as a duplicate. thanks!

[2015-08-21 12:39] #130 closed

[2015-08-21 23:47] hodgestar commented on #102
Gist for PyConZA 2014 has been updated to properly set the language and ao2pyv has been cleaned up a bit and released on PyPI.

[2015-08-23 02:54] codersquid commented on #102
@hodgestar thanks for all of the help. I've got 2014 up, http://www.pyvideo.org/category/75/pycon-za-2014 please let me know if you see problems with it.

I ended writing some one-off code to get the ogg, mp4, and thumbnails for the pyvideo json. I checked our api doc, and I realize those fields are not documented! I apologize. I made a note about it on the wiki page and included an example link f

[2015-08-23 03:04] codersquid opened #131 "Attributions for data contributors"
We need to figure out how to credit people who volunteer by helping with data.

[2015-08-23 21:24] hodgestar commented on #102
Thank you for the putting up the PyConZA 2014 videos!

I've updated my script to add the video links and made JSON files for 2012 and 2013:

* https://gist.github.com/hodgestar/55cd412c0b71f496c111 (2012)
* https://gist.github.com/hodgestar/7b6ff682fabc1bd15ea7 (2013)

I didn't add the `whiteboard` field because I didn't really understand what a sensible way was.

If you prefer, you should be able

[2015-08-31 05:56] timchen119 commented on #112
It's published: https://www.youtube.com/playlist?list=PLqtzN042QpfcOm_sOXxAixvNs9QWhhX5w

[2015-09-04 07:04] cool-RR commented on #116
Hi guys,

Just reminding I'm hoping to put these videos into PyVideo.org.

[2015-09-11 01:51] bheklilr commented on #120
I've been looking forward to these talks making it onto the site, is anyone still working on this or can I volunteer?

[2015-09-13 00:31] willkg commented on #97
The old pyvideo server was the one sending all the errors to @codersquid and I. I wanted to log into the server and skulk around to see if there were "important things" we might want to grab and move somewhere else.

I never got around to that until now. Instead of logging in, I decided there's nothing there I want because if there was, I would have logged in and gotten it by now. So I deleted it.

[2015-09-13 14:02] za commented on #128
@codersquid Hi, is there anything I could help to make these videos available from pyvideo?

[2015-09-13 16:14] sstugk commented on #120
Hi people,

please excuse the delay. I had crazy issues with my harddrive. Now that I have my data back, I've time to share with you what I've wrote in a bit spare time.

The solution is quick and dirty. I put everything in the `__main__` section and don't cared for your framework. (Sorry for that, I was a bit in a hurry.)

You can find the code here: https://gist.github.com/sstugk/67a3f3af8f6fa9f

[2015-09-13 21:50] sstugk commented on #120
Ahh, I've overseen the Youtube playlist. :sweat_smile: I just fixed this and updated
- the gist (https://gist.github.com/sstugk/67a3f3af8f6fa9f1891c)
  and
- the data (https://www.dropbox.com/s/8zau6ad92f1p9gu/data.zip?dl=0).

I've used the Youtube Data API, so you'll need an API key to reconstruct the results in `data.zip`. (Anyway, the complete API response is in `./data/youtube_playlist.json`.)

[2015-09-17 04:15] gtback commented on #126
Woot! This can be closed.

[2015-09-17 06:49] CarlFK opened #132 "Update 401"
Trying to store the video URLs to http://www.pyvideo.org/video/3717/more-lightning-talks

[code]

 http://pyvideo.org/api/v2/video/3717/
HTTP 404 NOT FOUND
...
{
    "detail": "Not found"

[2015-09-17 14:45] willkg commented on #132
I talked to @CarlFK about this on IRC. We talked about things and discovered many exciting things about the richard api and possibly steve that made me feel icky inside. We should rewrite everything.

But... it turned out to be a problem with @CarlFK's script possibly exacerbated by icky things in the richard api and steve.

It was an exciting opportunity for spelunking in the dark antediluvian ca

[2015-09-17 14:45] #132 closed

[2015-09-20 02:30] codersquid commented on #102
http://pyvideo.org/category/78/pycon-za-2013 and
http://pyvideo.org/category/79/pycon-za-2012

[2015-09-20 22:19] hodgestar commented on #102
Thank you!

[2015-09-25 13:23] codersquid commented on #133
Done, cheers!

[2015-10-13 09:57] hajs opened #134 "EuroSciPy 2015: European Scientific Computing with Python Conference"
I found the playlist at https://www.youtube.com/playlist?list=PLYx7XA2nY5GeQCCugyvtnHMVLdhYlrRxH

[2015-10-13 12:08] redapple commented on #121
hello @codersquid , any updates on EuroPython 2015 videos and the metadata from @AvdN?

[2015-10-14 15:08] za commented on #128
Hi there! I'll be happy to help if there's something I could do...

[2015-10-16 13:20] willkg opened #135 "move videos from blip off of rackspace cdn"
We saved a bunch of videos from blip.tv. Some of them are in meh formats. Some have video/audio issues.

This issue covers figuring out what to do about that. It probably involves some amount of:

1. identify which videos have issues, what issues and then fix them -- probably need to do this on a conference by conference basis
2. upload fixed videos to archive.org and/or youtube
3. remove videos f

[2015-10-16 13:23] willkg commented on #135
The "identifying and fixing" side of things is a higher priority than the "remove videos from rackspace cdn" side. There are other issues in this tracker that talk about issues with the videos. I think someone sent me ffmpeg instructions at some point for fixing some problem with some of the videos.

First step: find the related issues and mention them here so we have a bigger picture.

Second ste

[2015-10-18 20:09] codersquid commented on #128
@za I've been swamped with work, sorry for taking so long! I haven't looked through all the playlists yet, do you know if the PyCon Australia 2015 playlist has everything including the ones in the smaller playlists?

[2015-10-18 21:29] codersquid commented on #128
Hi @za, I scraped the PyCon Australia 2015 playlist and the videos are up here, http://pyvideo.org/category/80/pycon-au-2015 could you help by taking a look to check for errors? I haven't checked the smaller playlists to see if they are included yet.

[2015-10-18 21:40] codersquid commented on #121
Hi @redapple I don't have any updates. Sorry about that! I've had some busy months.

[2015-10-19 04:16] za commented on #128
@codersquid thanks a lot! I'll have a look tonight.

[2015-10-19 10:57] redapple commented on #121
I understand @codersquid . If you need a hand, let me know.

[2015-10-19 11:46] za commented on #128
Hi @codersquid , I manually count on videos that were added 2 months ago. There are 93 videos. There are some duplicates (and private video) on the playlist. While the videos that are added to pyvideo is 60.

[2015-10-19 12:18] willkg commented on #128
@za Can you make a list of urls for the videos that are missing?

[2015-10-19 18:20] elbaschid opened #136 "Add the videos from DjangoCon US 2015"
DjangoCon US 2015 in Austin, Texas was recorded by ConFreaks and videos are available at: http://confreaks.tv/events/djangocon2015.

It would be great if those videos could be added 😎.

[2015-10-19 18:44] codersquid commented on #136
Looks like they have it up on youtube too, which is good since we have scraper code for youtube. https://www.youtube.com/watch?v=dBeXS5aFLNc&list=PLE7tQUdRKcyaRCK5zIQFW-5XcPZOE-y9t

[2015-10-19 18:46] codersquid commented on #136
With schedule data here https://2015.djangocon.us/schedule/json/

[2015-10-19 18:52] CarlFK commented on #136
Why do I only see 6 talks?

 curl https://2015.djangocon.us/schedule/json/ | jsonlint -f | grep name

    "name" : "Hello Web App: Build your First Web App with Django",
    "name" : "Don't be afraid to search",
    "name" : "Documenting your project with Sphinx and Read the Docs",
    "name" : "Building a REST API Using Django & Django REST Framework",
    "name" : "Lightning Talks",
    "name" :

[2015-10-20 15:58] pizzapanther opened #137 "Add PyTexas 2015 Videos"
Please add the PyTexas 2015 videos which took place in College Station, TX this year.

Data here: https://www.pytexas.org/api/v1/speakers/pyvideo?conf=2015

Most are up on YouTube already.  I think we still have a few in the upload process still but the data on API should be updated when they are completed.  Thanks :-)

[2015-10-20 16:53] codersquid commented on #136
Huh, I guess I can't use the json endpoint.

[2015-10-20 21:43] za commented on #128
@willkg ok, will do.

[2015-10-26 07:52] ChillarAnand opened #138 "Add PyCon India 2015 Videos"
We have pycon india videos in youtube playlist. Can this be added?

https://www.youtube.com/playlist?list=PL6GW05BfqWIe6rMoFFWmllPegB2gU069m

[2015-10-26 14:35] codersquid commented on #137
I had a little bump with this due to an issue with steve. I've pushed 29 videos (draft mode, so you can't see them yet). Do you have any more to post?

[2015-10-26 15:15] pizzapanther commented on #137
Thought we would have one or two more uploads but we haven't.  So the current API data is good.

[2015-10-26 15:24] codersquid commented on #137
On Mon, Oct 26, 2015 at 10:15 AM, Paul Bailey <notifications@github.com>
wrote:

Okiedokie. Once I have some time I can sanity check the videos and flip
them from draft to live.

--
shekay@pobox.com

[2015-10-26 15:38] pizzapanther commented on #137
Thanks!

On Mon, Oct 26, 2015, 10:24 AM Sheila Miguez <notifications@github.com>
wrote:

--
Twitter: PizzaPanther
Phone: 409-233-3339

[2015-10-28 15:18] calvinhp commented on #109
Any word on this?  Is this still the correct process?

[2015-10-29 14:40] codersquid commented on #109
This is still the correct process. I've been volunteering for multiple orgs this year and spent a few months focusing on my hackerspace.

[2015-11-02 01:35] redapple commented on #139
@stonebig , would you have the original video files somewhere on http://webcast.in2p3.fr/?
I can only see RTSP stream URLs.

Links like http://webcast.in2p3.fr/content/videos/00/66/87/Loic.Esteve.mp4 or http://webcast.in2p3.fr/00/66/87/Loic.Esteve.mp4 for http://webcast.in2p3.fr/videos-mining_brain_imaging_data_lessons_learned_from_nilearn_and_joblib do not work even if the markup has the followin

[2015-11-02 16:45] stonebig commented on #139
well, in the mean time I discover also that :
- the videos are only registered on my left (or left-right) sound track, so I don't here it with a right-only headphone,
- I can't read them with a Windows phone.
==>  I propose we close this issue and give up.

[2015-11-05 23:23] za commented on #128
@willkg there you go, the 33 missing videos link. cc @codersquid

https://www.youtube.com/watch?v=0FOQB4PZVe0
https://www.youtube.com/watch?v=1ABPQyANid0
https://www.youtube.com/watch?v=1KHM7WvNeL4
https://www.youtube.com/watch?v=2e9dMr5sErs
https://www.youtube.com/watch?v=6aSKs4_WdkI
https://www.youtube.com/watch?v=8BUuq0KVXm0
https://www.youtube.com/watch?v=9yiiwcntx5M
https://www.youtube.com/wa

[2015-11-05 23:29] za commented on #128
This is the gist https://gist.github.com/za/43424a7d0762d3f1687c

[2015-11-10 11:00] za commented on #128
Hi @codersquid @willkg let me know if there's something I could help!

[2015-11-13 15:22] Dowwie opened #140 "PyCon Finland 2015"
https://www.youtube.com/channel/UCztHeKs0ZU6T0Cy7VjA_RgA

[2015-11-13 15:24] Dowwie opened #141 "PyCon Poland 2015"
https://www.youtube.com/channel/UChSapCUgd_L5nBWIqWucnnQ

[2015-11-24 01:38] codersquid commented on #128
Hi @za, thanks for the help. I've added the videos to the category on pyvideo now. There were two videos for Rapid Prototyping with Teenagers. Raise an alert if I've linked the wrong one. http://pyvideo.org/video/4058/rapid-prototyping-with-teenagers

[2015-11-24 01:38] #128 closed

[2015-11-24 01:40] codersquid commented on #139
Fine with me to close given what you have discovered. :( Sorry about that.

[2015-11-24 06:35] za commented on #128
Hi @codersquid

Thanks a lot for adding those videos!

I think I know why it has two videos. From the PyCon AU 2015 website, they were the same talk but at the different time (I think it was repeated). I saw Katie Bell, the speaker, was introduced by the different person.

* Friday schedule
http://2015.pycon-au.org/schedule/30116/view_talk?day=friday

* Sunday schedule
http://2015.pycon-au.org/sch

[2015-12-04 18:55] elliewix opened #143 "PyDataNYC 2015"
Here's a gist of the data from their youtube channel:

https://gist.github.com/elliewix/5c071883f4abca1a7f40

Could likely populate the records with some of this: http://www.numfocus.org/blog/slides-from-the-pydata-nyc-2015-discussion-track

source: https://twitter.com/PyData/status/672834312782356480

[2015-12-09 10:12] Dowwie opened #144 "PyCon France (Oct 2015) - videos posted: http://video-pyconfr2015.paulla.asso.fr/"
talks were finally posted:  http://video-pyconfr2015.paulla.asso.fr/

[2015-12-10 01:43] redapple commented on #144
FTR,
I've started collecting metadata for the recorded talks: https://github.com/redapple/pyvideo-contrib/tree/master/pyconfr2015/pyconfr2015

- [`talks.json`](https://raw.githubusercontent.com/redapple/pyvideo-contrib/master/pyconfr2015/pyconfr2015/talks.json) is scraped from http://www.pycon.fr/2015/schedule/
- [`videos.json`](https://raw.githubusercontent.com/redapple/pyvideo-contrib/master/pyc

[2015-12-12 01:14] redapple commented on #144
@codersquid ,

I created JSON files for all videos, following steve format the best I could:

https://github.com/redapple/pyvideo-contrib/tree/master/pyconfr2015/pyconfr2015-steve/json

Let me know if this works.

I also posted the [ipython notebook](https://github.com/redapple/pyvideo-contrib/blob/master/pyconfr2015/pyconfr2015/mergedata.ipynb) I used to merge the scraped data and video duration

[2015-12-22 20:06] williamsmj commented on #88
A colleague of mine, @nickvermeer, did some work on the audio of this talk too. It was clipping and distorting badly (in between quite clear bits), and generally difficult and exhausting to listen to. The new is much easier on the ears for the duration of a three hour talk!

The video is available in [this file I put on S3](https://s3.amazonaws.com/pyvideo-beazley/pyvideo-beazley.mp4). If you'd li

[2015-12-24 16:36] Peibolvig opened #145 "PyCon Spain 2013 and 2014 (2015 comming)"
https://www.youtube.com/channel/UCyth_6hqft9a7B_thdwYyww/playlists

Here is the info of the talks for each year:
http://2013.es.pycon.org/#agenda
http://2014.es.pycon.org/talks
http://2015.es.pycon.org/en/schedule/

[2016-01-04 00:29] williamsmj commented on #88
I've removed the video from S3. Let me know if you'd like me to reupload it.

[2016-01-05 21:06] redapple commented on #146
Dupe of #134

[2016-01-19 20:19] #112 closed

[2016-01-19 20:19] #116 closed

[2016-01-19 20:19] #119 closed

[2016-01-19 20:19] #121 closed

[2016-01-19 20:19] #122 closed

[2016-01-19 20:19] #123 closed

[2016-01-19 20:19] #124 closed

[2016-01-19 20:19] #126 closed

[2016-01-19 20:19] #127 closed

[2016-01-19 20:19] #131 closed

[2016-01-19 20:19] #134 closed

[2016-01-19 20:19] #135 closed

[2016-01-19 20:19] #136 closed

[2016-01-19 20:19] #137 closed

[2016-01-19 20:19] #138 closed

[2016-01-19 20:19] #140 closed

[2016-01-19 20:19] #141 closed

[2016-01-19 20:19] #143 closed

[2016-01-19 20:19] #144 closed

[2016-01-19 20:19] #145 closed

[2016-01-19 20:19] #71 closed

[2016-01-19 20:19] #78 closed

[2016-01-19 20:19] #79 closed

[2016-01-19 20:19] #80 closed

[2016-01-19 20:19] #81 closed

[2016-01-19 20:19] #82 closed

[2016-01-19 20:19] #84 closed

[2016-01-19 20:19] #85 closed

[2016-01-19 20:19] #86 closed

[2016-01-19 20:19] #92 closed

[2016-01-19 20:19] #95 closed

[2016-01-19 20:19] #99 closed

[2016-01-19 20:19] #103 closed

[2016-01-19 20:19] #104 closed

[2016-01-19 20:19] #105 closed

[2016-01-19 20:19] #106 closed

[2016-01-19 20:19] #107 closed

[2016-01-19 20:19] #108 closed

[2016-01-19 20:19] #111 closed

[2016-01-19 20:20] #19 closed

[2016-01-19 20:20] #36 closed

[2016-01-19 20:20] #39 closed

[2016-01-19 20:20] #41 closed

[2016-01-19 20:20] #45 closed

[2016-01-19 20:20] #46 closed

[2016-01-19 20:20] #49 closed

[2016-01-19 20:20] #58 closed

[2016-01-19 20:20] #62 closed

[2016-01-19 20:20] #68 closed

[2016-01-19 20:20] #70 closed

[2016-08-20 04:53] logston opened #2 "When description don't exsist in category.json, html generation fails"
See https://github.com/pytube/pytube/issues/180

[2016-08-20 04:54] logston opened #3 "Search for pyvideo"
See https://github.com/pytube/pytube/issues/165

[2016-08-20 04:55] logston opened #4 "Enable crowdsourced video caption creation"
See https://github.com/pytube/pytube/issues/82

[2016-08-20 09:46] zerok commented on #2
Will try to find some time for this this weekend.

[2016-08-20 19:35] logston opened #5 "Add zendo DOI"
Add this back.

[2016-08-21 21:37] Daniel-at-github opened #7 "Language eus = Basque"
Add "eus":[Basque](https://en.wikipedia.org/wiki/Basque_language) in the decoder of ISO 639 languages to display it properly in http://pyvideo.org/europython-2016/endor-ipuinak-kontatzen-zituen-nao-robota.html

[2016-08-22 03:12] #2 closed, assigned to zerok

[2016-08-23 14:54] blha303 opened #9 ""Contribute Media" link on homepage is dead"
https://github.com/pyvideo/pyvideo/wiki/How-to-Contribute-Media

[2016-08-23 19:22] mikeckennedy commented on #9
I want a second that. I have a handful of videos I'd love to submit. Glad to see PyVideo going strong.

[2016-08-23 19:35] logston commented on #9
Oh! Thanks for catching this.

[2016-08-23 19:42] #9 closed, assigned to nobody

[2016-08-23 20:16] mikeckennedy commented on #9
Thanks!

[2016-08-24 15:05] Daniel-at-github commented on #7
It's working.

[2016-08-24 15:05] #7 closed, assigned to nobody

[2016-08-25 02:50] logston opened #10 "reduce the number of recent records in the rss feed"

[2016-08-25 02:55] #5 closed, assigned to logston

[2016-08-25 13:09] zerok commented on #10
Should we simply set `FEED_MAX_ITEMS` to 30?

[2016-08-25 14:06] logston commented on #10
That sounds great.

[2016-08-25 14:21] zerok commented on #10
Will try that either tonight or until Sunday then :)

[2016-08-25 18:31] Daniel-at-github opened #11 "Add rss for new events in PyVideo"
As pyvideo user I used to have (years ago) a events rss that informs me whenever a new event appears in http://pyvideo.org/events.html.

I think that it was in pyvideo order of publishing. Example: PyconES 2013 (merged 16 hour ago https://github.com/pyvideo/data/pull/32 should appear on top of EuroPython 2016 (merged 11 days ago https://github.com/pytube/data/pull/152).

[2016-08-26 00:57] logston commented on #11
Funny you mention this, we have an open ticket over at pyvideo/pyvideo to reduce the number of feed items so that the rss feed is usable. http://pyvideo.org/feeds/all.rss.xml

https://github.com/pyvideo/pyvideo/issues/10

[2016-08-26 00:59] logston commented on #11
I think we need to create a plugin to check the repo for the most recent change in the data sub repo. Then from there determine what's new.

[2016-08-26 12:03] Daniel-at-github commented on #11
How to get the pyvideo events in rss order (in bash):

[code]

But `git log --diff-filter=A --follow --format=%ai -1 -- <event_dir>/category.json` is the command that matters to use in the plugin

[2016-08-29 16:10] #10 closed, assigned to zerok

[2016-09-15 07:27] zerok commented on #3
@EricSchles are you still working on this? 😃

[2016-09-20 13:15] EricSchles commented on #3
As of right now, no.  I wasn't sure how to proceed with the server stuff.  I've got working code, but only locally.

[2016-09-20 13:23] zerok commented on #3
@EricSchles How far have you come?

@ulope and I were also thinking about perhaps looking into hosted solution like Algolia so that we wouldn't have to manage our own search servers but only needed a rather thin server-component.

Depending on the stage you're in we would abort that research ;)

[2016-09-20 13:57] ulope commented on #3
Just to expand a bit on that: We met some people from Algolia at WriteTheDocs Europe and they told us that they provide their services for free to open source projects.

[2016-10-03 20:03] pylang opened #17 "Thanks"
I don't know how else to thank you guys for continuing this legacy.

Thanks.

[2016-10-23 15:36] AlJohri opened #25 "paginate through latest talks?"
i've been using pyvideo quite a bit over the last few days and sometimes I'm just looking to watch something new that catches my eye as opposed to going to a particular conference or tag or speaker. would love to be be able to just paginate through some of the most recent videos

[2016-10-23 19:36] logston commented on #25
I agree. This really needs to be considered again. I stopped work on it a while back. I think the best way to do this would be to add an arbitrary id field to each video. This ID field would be unique for each video (some videos already have this ID). This ID would increment as new videos are added and would create a natural sorting field for "newest" videos. This field has been requested by other

[2016-10-23 23:37] Daniel-at-github commented on #25
- Seems good to me, but we have to be careful with:
  - Numerate videos in order of event appearance (see https://github.com/pyvideo/pyvideo/issues/11#issuecomment-242716796)
  - When several pull request appear renumber their (probably colliding) ids
- When implementing, please add [access keys](http://www.w3schools.com/tags/att_global_accesskey.asp) to pagination, it will help to speed up the pu

[2016-10-25 18:22] lgh2 commented on #25
Thank you for your suggestion. Did you look at the "Latest Events" heading
on the main page? Or did you want to see the talks organized in a different
way?

On Sun, Oct 23, 2016 at 11:36 AM, Al Johri notifications@github.com wrote:

[2016-10-25 18:34] lgh2 commented on #25
If it's not too hard to add an ID number field to each video then it sounds
like a good idea.

On Sun, Oct 23, 2016 at 3:36 PM, Paul notifications@github.com wrote:

[2016-10-25 19:50] zerok commented on #25
Sorry for the late response :) Personally, I'd prefer if we could somehow get all the dates and times of each talk and event. Having a global number in each category.json and video file sounds slightly off-topic for me inside the data repository and ideally unnecessary if we can get the necessary datetime :)

[2016-10-25 19:52] AlJohri commented on #25
Can we just grab it from YouTube (when it's a ur video) for the purposes of the database or does it need to be in the exact time on the events schedule?

[2016-10-25 19:52] AlJohri commented on #25
YT*

[2016-10-25 19:53] zerok commented on #25
The Youtube dates are probably not sufficient as some conferences upload their content sometimes weeks after the actual event. Youtube is also not the only source that is supported (albeit a major one) so we probably won't get around some manual work :)

[2016-10-25 22:32] Daniel-at-github commented on #25
@lgh2 [events page](http://pyvideo.org/events.html) is good. But a RSS of the events makes pyvideo more useful to the end user, it will know when a new event is added.
And nowadays events are ordered by date, it will make more difficult to notice when issues from events from years ago get added.

@zerok only date could be confusing if two events overlap in time. I think event + date is better. Wha

[2016-10-26 01:34] willkg commented on #25
With the "old pyvideo", we had two fields. One was the date the talk was recorded. This was sometimes wrong when we added the videos to the corpus initially, but would get fixed later on. The other was the date the talk was added to the corpus.

The "latest videos" list and feed on "old pyvideo" was sorted by the date the talk was added to the corpus figuring that these were "new to pyvideo".

"ol

[2016-10-26 18:34] Daniel-at-github commented on #25
We could compute the event dates from git and save it outside the files, in this way pyvideo-only data don’t mix with conference data.

Outside the files can be:
- A new json file:
  - `metadata/events.json` ?
  - `metadata/pyvideo/events.json` ?
- A [tinydb](https://tinydb.readthedocs.io/en/latest/) json file:
  - `pyvideo.tiniydb.json`?

Tinydb is more versatile (and shiny :sparkles:) and its le

[2016-10-27 15:44] zerok commented on #25
The focus would be hear an "added" timestamp field, right? Personally I don't mind how it is cached either way 🙂

[2016-10-27 15:58] codersquid commented on #25
I vote for whatever is simplest, and adding something to the video json doesn't seem bad to me despite mixing up pyvideo data and conference data. then whatever tool someone uses to scrape data could merely have a timestamp to get a 'good enough' estimate for recent things added to pyvideo even if it isn't technically accurate with respect to merge-time.

[2016-11-02 02:59] logston commented on #25
Thanks everybody! Lots of great feedback here. Keeping in-line with our goal of keeping things simple, here's what I think our course should be:

I think sorting these videos by their "added to the data repo" date based on commit SHA is probably the easiest way to go. It sounds a bit more complicated but I think it will cut out tons of manual work in the long run. Plus, computers are good at doing

[2016-11-02 07:46] zerok commented on #25
@logston +1 on adding that kind of information into a metadata folder within the pyvideo website project 😄

@Daniel-at-github Would you mind if I still also extend the recorded field within the video.json to support a time component and the category.json with something like start and end fields?

[2016-11-02 23:16] Daniel-at-github commented on #25
@zerok I'm a bit lost with the time component in the video.json. Can you give an example or elaborate? (maybe I'm sleepy or lost in translation).

Start and end fields in category.json seems great to me. It's more work, but not too much. Adding related_urls (webpage, schedule are usual;  slides, repository are less usual, ...) or tags in category.json it's something to think too.

start_date it's

[2016-11-03 07:40] zerok commented on #25
@Daniel-at-github I mean moving "recorded" from being date-only to a datetime field so that we can do a more natural ordering on the event page itself, for instance.

[code]

vs.

[code]

using ISO8601 but trying to keep everything in UTC.

[2016-11-04 10:01] Daniel-at-github commented on #25
@zerok in youtube scraped videos we often have to settle for a good enough date and take the upload date, and time there will be T00:00:00+00:00.
Even so, I think that datetime is a good idea and a step towards having better data.

[2016-11-26 09:55] Daniel-at-github commented on #25
Metadata file generated with:
[code]
Looks like:
[code]

[2016-12-04 00:22] #25 closed, assigned to nobody

[2017-01-31 03:01] purplediane opened #52 "Search results contain 404 page"
I searched on pyvideo.org for "generator" using the Gogle custom search tool. One of the results was http://pyvideo.org/speaker/98/stuart-williams/rss
But clicking on it resulted in a 404 page.
When using the "Speakers" tab at the top of the Pyvido page, I find his results at
http://pyvideo.org/speaker/stuart-williams.html
Picture from page 3 of results (It is the top one of the list):
<img width=

[2017-01-31 08:45] zerok commented on #52
Hi :)

IMHO this should be solved with #3 but that's sadly somehow in limbo right now :(

[2017-03-26 09:56] Daniel-at-github opened #59 "Make pyvideo more "fork friendly""
Hi,

I'm trying to fork pyvideo to use it as the video index for my zone local meetups. Only one is python related (php, java, javascript, joomla, ...) the other can't get into pyvideo.

I think that expanding it use to other communities will attract more contributors, user base and give more visibility to the project.
But I'm not sure how to:
* Change the domain.
* Configure travis.
* Deploy.

My

[2017-03-26 20:37] lgh2 commented on #59
I think this is a good suggestion, and I would like to discuss it with @logston  to see what he thinks.

[2017-03-30 23:45] logston commented on #59
Hi @Daniel-at-github! I'd love to make this platform more available, however, I'm not sure our time would be well-spent re-documenting our current process since it is a pretty vanilla set up.

- The domain is determined by regular DNS rules and github pages domain naming rules via the CNAME file.
- The travis setup is configured via yaml file and is in the root of the repo. The deploy process is t

[2017-03-30 23:47] logston opened #61 "404"
Reported by Krishnan Narayanan

![unnamed](https://cloud.githubusercontent.com/assets/2641765/24530698/b0fe6e12-1581-11e7-8fa4-8528ff6b85e8.png)

[2017-03-30 23:49] logston commented on #3
Closing this as it doesn't have the traction it needs.

[2017-03-30 23:49] #3 closed, assigned to nobody

[2017-03-30 23:50] willkg commented on #59
One of the things I sort of regret when working on the previous PyVideo was spending the time generalizing the software so that other people could use it. Those efforts were substantial, but never panned out in any way. Clearly, that's anecdata, but it covers several years of experience.

I would suggest that anyone who wants to make this fork-friendly, should fork it themselves and then spend the

[2017-03-31 15:22] Daniel-at-github commented on #59
Thanks for the explanation @logston. I will give it another try.

My english is not good enough to use it in interactive real time, but if you ever give a (lightning?) talk about it, please post it in pyvideo.

I see the point @willkg is making. If the fork succeeds I will make a pull request to include it in the about page. :smile:

[2017-03-31 15:33] logston commented on #59
Thanks for the suggestion and initiative @Daniel-at-github!

[2017-03-31 15:33] #59 closed, assigned to nobody

[2017-03-31 19:30] Daniel-at-github commented on #61
How Krishnan Narayanan get from http://pyvideo.org/index.html to http://pyvideo.org/category/50/pycon-us-2014 ?
The usual path is http://pyvideo.org/index.html :arrow_forward: http://pyvideo.org/events.html :arrow_forward: http://pyvideo.org/events/pycon-us-2014.html

Looked for it in the pyvideo repo:
[code]
no luck
[code]

[2017-03-31 19:32] willkg commented on #61
That looks like an old PyVideo url. Doing a google search on that url brings up a bunch of places where it shows up.

[2017-03-31 19:34] Daniel-at-github commented on #61
Now I get it (https://github.com/pyvideo/data/blob/master/pycon-us-2014/category.json)
[code]
this alias is not working.

[2017-04-26 13:56] zevaverbach commented on #4
For the talks that already have transcripts (PyCon US '15 and '16), [this could be automated](https://support.google.com/youtube/answer/2734799?hl=en) rather than crowdsourced.

[2017-04-26 14:10] zevaverbach opened #66 "enable search of tags and other data"
other data could include transcripts/captions that exist for some videos.

[2017-05-01 07:00] zerok commented on #66
#3 was just about that an recently closed due to lack of activity. That being said, I would love to sprint on it at PyCon if nobody minds 😊Due to the input size and tooling I have in mind right now, the actual implementation might end up being in Go.

[2017-05-18 23:23] Daniel-at-github opened #72 "Think on how to ease pyvideo data correction"
In pyvideo ETL process we have:
* Extraction: A youtube scrapper
* Transform: Manual correction
* Load: Git + Pelican

I think that the transform part have to be eased to attract new contributors.

Ideas:
* Use a local editor, like [Lektor](https://www.getlektor.com/) do. Could be lektor be used as local editor?
* Convert pyvideo/data from json to yaml. Example:
[code]
  Yaml is more readable and

[2017-05-18 23:51] willkg commented on #72
When I was running PyVideo, we had people submit things in JSON format and generally, the blocker was bad tooling and not the file format. We did toss around switching to YAML, but didn't end up doing that because it didn't seem like a big enough win and it created different problems. We did add a better editor to Steve, but no one used it as far as I know except @codersquid and I. However, that w

[2017-05-21 16:12] dnozay opened #73 "please add an SSL cert"
Hello,

Let's Encrypt / Certbot can be used to request a free SSL certificate: https://certbot.eff.org/
This would make sure there are no MITM attacks to redirect users to unsafe content.

Thank you.

[2017-05-21 16:56] zerok commented on #73
I think the main roadblock here is that you cannot use TLS when using custom domains for GitHub hosted sites. Correct me if I'm wrong about this please 🙂

[2017-05-21 19:44] dnozay commented on #73
Are you referring to https://github.com/isaacs/github/issues/156?

[2017-05-21 22:55] Daniel-at-github commented on #73
You cannot use TLS when using custom domains for GitHub https://help.github.com/articles/securing-your-github-pages-site-with-https/
But you can do it with gitlab pages https://about.gitlab.com/2016/06/24/secure-gitlab-pages-with-startssl/

[2017-05-22 18:23] zerok commented on #66
I've now created a separate repository for the search backend on https://github.com/zerok/pyvideosearch and will now work on adding a frontend for that in the main pyvideo code-base.

[2017-05-22 21:38] zerok commented on #66
The current implementation now does full-text search for sessions over title, description, speaker names etc. I've a dummy implementation now running locally:

![screenshot 2017-05-22 14 34 21](https://cloud.githubusercontent.com/assets/3782/26329396/ee6b32e6-3efb-11e7-9918-3666bc5dec83.png)

I hope, this looks OK for you. If you don't mind then I'd host a search index on one of my servers. @logst

[2017-05-22 23:52] logston commented on #66
DNS Done!

[2017-05-23 15:14] zerok commented on #66
@logston Thank you :) I will try to get a prototype up and running including a PR for the front-end changes by noon 😃

[2017-05-25 03:02] #66 closed, assigned to zerok

[2017-05-25 19:58] ulope commented on #66
Hey @logston, unfortunately it turns out @zerok's vserver doesn't have enough ram to rebuild the index inplace, so we've moved the api to one of my servers. For now we're forwarding the requests via nginx but it would be nicer to update the DNS to directly point to the correct IP.

Could you update the records for api.pyvideo.org to `45.76.95.160` / `2001:19f0:6c01:3d3:5400:ff:fe62:f743`?

[2017-05-26 15:24] logston commented on #66
Done!

[2017-05-26 15:52] zerok commented on #66
Thank you :D

On Fri, May 26, 2017, at 05:24 PM, Paul wrote:

Links:

  1. https://github.com/pyvideo/pyvideo/issues/66#issuecomment-304311705
  2. https://github.com/notifications/unsubscribe-auth/AAAOxhFFL_k3EC-Ab5K5IP9VQxMem2foks5r9u6rgaJpZM4NI6yJ

[2017-05-31 16:32] willingc opened #83 "Is search not working currently?"
I tried the following searches and received no responses:

http://pyvideo.org/search.html?q=taiwan
http://pyvideo.org/search.html?q=Taiwan

[2017-06-01 07:07] zerok commented on #83
I've pinged @ulope about it as the service is running on one of his servers :)

[2017-06-01 07:53] ulope commented on #83
Sorry about that. The service had (for some reason) stopped. I've restarted it now and will add some monitoring to have better availability.

[2017-06-01 14:23] willingc commented on #83
Thanks @zerok and @ulope for the super quick response. All is searching well now :tada:

[2017-06-01 14:23] #83 closed, assigned to nobody

[2017-06-09 21:18] dirn commented on #73
Unfortunately, at least for the time being, this process requires manually updating certificate. While that isn't necessarily a huge deal, the process currently requires removing the custom domain and adding it again with the new certificate. It's been raised [1][2], but there is no solution yet.

This down time may be a non-starter for high traffic sites.

[1] https://gitlab.com/gitlab-org/gitlab

[2017-06-12 06:22] zerok commented on #73
IMHO having PyVideo every once in a while not being responsive for a minute or two shouldn't be considered a show-stopper. We are not hosting a service for the emergency services after all 😄

[2017-06-15 00:59] logston commented on #73
Totally down for this happen, just running out of time! Does anyone want to take the initiative here? If not, I'll start to pull resources.

[2017-06-15 10:47] zerok commented on #73
OK, so what's the approach we want to take here? Gitlab or self-hosted?

[2017-06-15 19:09] lgh2 commented on #73
What would be the advantages/disadvantages of each?  Can we get a grant from the PSF to cover hosting fees if we self-host?

[2017-06-19 06:25] zerok commented on #73
The main advantage of going self-hosted would be flexibility. We could more freely add additional things to our toolchain (like the search feature I've implemented and that is now hosted on one of Ulrich's servers). We could also handle the deployments more easily without relying on Travis.

The downsides would be additional costs and maintenance overhead. The latter is negligible, though in my op

[2017-06-19 12:57] logston commented on #73
I have a number of thoughts feelings around this.

1. Do we really want to maintain our own infrastructure?

I'm not sure who's shoulders this responsibility would fall on but maintaining our own box(es) is a non-trivial task. Yes, it would be (for now) just a box with Nginx and the repo (and @zerok's search engine) but that list would not stop there. And when it goes down, we would be down until

[2017-06-21 17:11] lgh2 commented on #73
I was describing this issue to a friend of mine, and he suggested the following:
https://hackernoon.com/set-up-ssl-on-github-pages-with-custom-domains-for-free-a576bdf51bc

It appears that Cloudflare will give you ssl encryption for a custom, github-hosted domain.  Much as I dislike Cloudflare, if this works I think it will be a solution that will give us ssl encryption with a minimum of effort.

[2017-06-24 11:23] redapple commented on #72
Was there a discussion on this at PyCon US 2017 in the end?
Any minutes, conclusions or decisions?
I'd definitely like to have YAML to fix reST descriptions when they fail to render (when I convert from HTML to .md to reST -- is there an HTML-to-rest conversion lib? I wasn't able to use pandoc for this for some reason).
When I have to fix the description, what I currently do is:
* use `cat videos/

[2017-06-24 23:32] Daniel-at-github opened #88 "Use a json editor for contributions"
How you see this setup?:
* Use external services for user corrections:
  * Json editor: http://jsoneditoronline.org/
  * Alternative submmission: https://formspree.io/

Use case:
* User goes to http://pyvideo.org/pycon-us-2017/share-your-code-python-packaging-without-complication.html
* Want to improve the page
* Sees "Improve this page" but don't have/want github account
Improvement:
* Rename "Im

[2017-06-25 00:31] Daniel-at-github commented on #72
Reviewing pull requests is more work that it should be:
* Replicate the pull request
  * `git remote add ` the remote branch
  * `git fetch --all --prune`
  * Pull the remote branch
  * Render the pages `make html && make serve`
* Open all the pages involved (usually one event)
* For every page
    * Review the html
    * Editing json
    * Edit the one line but multiline `description` reST field

[2017-06-25 21:16] dirn commented on #73
This may seem paranoid, but it is a very real thing that happens. [Wikipedia recently switched to SSL-only for these very reasons.](https://motherboard.vice.com/en_us/article/a3wbgz/wikipedias-switch-to-https-has-successfully-fought-government-censorship)

You don't even need Travis CI for that. [GitLab can do it for you.](https://docs.gitlab.com/ee/workflow/repository_mirroring.html#pulling-from-

[2017-06-26 18:08] zerok commented on #72
If we are moving to YAML we also have to update the search engine 🙂

[2017-07-03 07:49] pya opened #90 "404 for PyCon 2017 video"
This is a dead link:
http://pyvideo.org/pycon-us-2017/kavya-joshi-the-memory-chronicles-a-tale-of-two-pythons-pycon-2017.html

Found by searching for  Kavya Joshi:
http://pyvideo.org/search.html?q=+Kavya+Joshi

This video is available on YouTube:
https://www.youtube.com/watch?v=d7qEzpnkWaY

[2017-07-03 08:42] Daniel-at-github commented on #90
The current link is http://pyvideo.org/pycon-us-2017/the-memory-chronicles-a-tale-of-two-pythons.html

[2017-07-03 16:35] zerok commented on #90
Ah, we mistook the filename for the slug while the title ends up being the slug. I will try to provide a fix for that in the next couple of days. Please track https://github.com/zerok/pyvideosearch/issues/1 for updates.

[2017-07-03 18:12] zerok commented on #90
Should be fixed now :)

[2017-07-03 18:12] #90 closed, assigned to nobody

[2017-07-07 16:18] phls opened #91 "Problem with new data event and search"
Hi,

Pyvideo is really nice and I'm it to a new project in Brazil.
I installed and it's running.
http://videos.softwarelivre.org
(the videos there now are to tests)

But I have two issues:

1)
When I create a new event in pyvideo/data and I run "make html", I have this:
CRITICAL: ValueError: time data '' does not match format '%Y-%m-%d %H:%M:%S %z'
Makefile:57: recipe for target 'html' failed
make

[2017-07-07 20:03] phls commented on #91
I found the issue 1. I had to fork python/data, clone it, create a new event there, git push to my fork, and git pull to my pyvideo.
The "make html" looking for events on github.

[2017-07-08 15:06] logston commented on #73
Great. Progress: https://gitlab.com/pyvideo/pyvideo.gitlab.io

[2017-07-08 15:09] logston commented on #73
@lgh2 are you on GitLab? Would like to give you permissions to this repo.

[2017-07-09 17:38] lgh2 commented on #73
I just signed up.  My username is laurahampton.

[2017-07-09 20:59] zerok commented on #91
@phls Sorry for the late response. The search box won't work for your site simply because it is a custom service tailored to pyvideo.org. If you're curious you can find the source code here: https://github.com/zerok/pyvideosearch

[2017-07-18 20:39] phls commented on #91
@zerok

Can I have pyvideosearch in my server to use in my site?
I installed but it's not working.
http://videos.softwarelivre.org

Is pyvideo in one server, and pyvideosearch in other?

[2017-07-23 20:31] zerok commented on #91
@phls Yes, pyvideosearch is hosted on a different server. If you want to use the service on your site, you will have to update the list of allowed hosts. Otherwise browsers will reject XHR calls there.

[2017-07-26 01:31] phls commented on #91
@zerok can we talk by email about some details?

[2017-08-05 00:53] InfiniteBricks opened #93 "Two video frames of same video"
On the "How the Internet works" page by  Jessica McKellar
PyCon US 2013

There are two of the same video on this page.

![image](https://user-images.githubusercontent.com/25675821/28991514-ba3e9a68-793d-11e7-9ed7-9d498e37bece.png)

[2017-08-05 00:58] #93 closed, assigned to nobody

[2017-08-05 01:00] InfiniteBricks commented on #93
I see it is pulling the same video from two sources.

[2017-08-05 07:15] Daniel-at-github opened #94 "Video tabs don't hide the second tab content"
As seen in #93, when there are more than one video source the tabbed interface shows the content of more of one tab.

Examples:

PyCon US 2013
[How to Except When You're Excepting](http://pyvideo.org/pycon-us-2013/how-to-except-when-youre-excepting.html)
Fri 15 March 2013
By Esther Nam

![imagen](https://user-images.githubusercontent.com/4407929/28993726-a77abaee-79bd-11e7-9b20-fbedac013aa8.png)

[2017-08-05 07:18] Daniel-at-github commented on #93
I reopened ti in #94 because I think that the interface is misbehaving.

[2017-08-18 01:57] donkirkby opened #97 "Search result links to 404 page"
It seems like new videos appear in the search results before they get deployed.

I created pull request pyvideo/data#332, and it got merged. When I tried to find the new videos, I could see the two videos on the search page for [Vancouver], but I get a 404 from [my video], [VanPyDay], and the [category].

This is different from issues #52 and #61, because those mention Google custom search and cat

[2017-08-18 13:07] Daniel-at-github commented on #97
The search seems to be using the repository json files, not the deployed static html files.

[2017-08-21 21:00] Daniel-at-github opened #98 "Deploy PyCon Israel 2017"
PyCon Israel 2017 was merged in https://github.com/pyvideo/data/pull/339

[2017-08-22 11:05] #98 closed, assigned to nobody

[2017-08-24 21:30] Daniel-at-github opened #102 "Thumbnail size not controlled"
When the available thumbnail is not of a standard size it is not resized.
Example: http://pyvideo.org/pyday-galicia-2017/iniciacion-a-python.html

[2017-08-31 14:20] npardington commented on #102
Would this be a valid solution:

`<img class="img-responsive" .../>`

![screen shot 2017-08-31 at 10 15 42 am](https://user-images.githubusercontent.com/2708258/29927996-e195e0dc-8e35-11e7-8195-9ac78d53028f.png)

![screen shot 2017-08-31 at 10 17 18 am](https://user-images.githubusercontent.com/2708258/29928005-e5087158-8e35-11e7-9d36-278248f7d876.png)

[2017-08-31 17:43] Daniel-at-github commented on #102
Looks good

[2017-09-05 07:57] zerok commented on #97
Perhaps I can find an easy way to retrieve exactly the version of the submodule within the web project to update the search index from. I'll at it to my TODO list :)

[2017-10-09 19:32] Daniel-at-github opened #109 "Deploy last pull requests"
Several pull request have been merged in https://github.com/pyvideo/data

[2017-10-09 22:20] nkantar opened #110 "Search broken (access control)"
When trying to search I get the following errors in my browser console:

Looks like CORS isn't set properly?

[2017-10-10 08:06] #109 closed, assigned to nobody

[2017-10-10 08:47] zerok commented on #110
Hi :) The backend service is sadly acting up a little bit. I've tried restarting it but, sadly, it looks like it will require a bit more force. I've contacted @ulope :)

[2017-10-10 08:53] redapple commented on #110
@zerok , I don't know much about this, but has a pure JavaScript solution been envisaged?
e.g. https://github.com/olivernn/lunr.js/ or http://elasticlunr.com/ so that the search index could be built at the same time as the static pages.
Just my 2 cents.

[2017-10-10 10:50] ulope commented on #110
Search is up again. Thanks for the ping @zerok. The container was up but hung in a non recoverable state. I had some other (very resource hungry) things running on the same server and apparently docker doesn't recover well from having little to no memory left. I'll add "memory free" to the monitoring to avoid this in the future.

@redapple In theory that would be nice. Unfortunately, the search in

[2017-10-26 15:11] Daniel-at-github opened #117 "Travis keyring encription failure"
Seems that Travis keyring encription have failed
[code]

@logston, try to unlock #105 to solve it.

[2017-11-04 22:24] Daniel-at-github opened #120 "Deploy Pycon CZ"
Deploy pyvideo/data#409 and pyvideo/data#408

[2017-11-04 22:59] #120 closed, assigned to nobody

[2017-11-05 03:23] ajdavis commented on #73
Hi! I see that the current state is, https://pyvideo.org presents a github.io certificate, which of course is mistrusted by my browser.

[2017-11-08 23:00] logston commented on #73
Dang. Thanks @ajdavis. Looking into this.

[2017-11-08 23:05] Daniel-at-github commented on #73
Can I take a look with https://gitlab.com/daniel-at-internet ?

[2017-11-08 23:07] logston commented on #73
@Daniel-at-github Sure thing. I'm looking into it now too.

[2017-11-08 23:16] logston commented on #73
Looks like we would need to update the cert every few months on GitLab (assuming we would use letsencrypt)

![screen shot 2017-11-08 at 6 13 01 pm](https://user-images.githubusercontent.com/2641765/32579912-ee2abd70-c4b0-11e7-8b8e-f62afd388b5f.png)

[2017-11-10 15:51] dirn commented on #73
@logston it's a bit more than just updating the cert. See https://github.com/pyvideo/pyvideo/issues/73#issuecomment-307502207.

[2017-11-10 20:03] logston commented on #73
Yeah, thanks @dirn. The reality of "manually updating the cert" hit me and posted to remind myself.

[2017-11-14 09:10] Daniel-at-github opened #125 "Deploy PyCon Italia 2017"

[2017-11-14 09:42] #125 closed, assigned to nobody

[2017-12-23 22:07] SarahPythonista opened #133 "Confusing error message when git log not found"
If a folder is added (or a folder name is changed) inside data, and html generation is attempted without an interim 'git commit', writer.py throws error message:
ValueError: time data '' does not match format '%Y-%m-%d %H:%M:%S %z'

This message may be confusing to the user (as was mentioned in issue #91 ).

[2018-01-22 20:24] Daniel-at-github opened #139 "Deploy Kiwi pycon 2017"
Deploy pyvideo/data#448

[2018-01-26 20:12] redapple commented on #139
Closed via https://github.com/pyvideo/pyvideo/pull/140

[2018-01-26 20:12] #139 closed, assigned to nobody

[2018-02-01 19:37] tylerdave opened #142 "Create indexes for event series"
I'd like to be able to link to an event series without having to link to a specific year. For example, it would be nice to have:

http://pyvideo.org/events/pycon-us

Instead of having to link to something like:

http://pyvideo.org/events/pycon-us-2017.html

[2018-02-16 19:43] nkantar commented on #110
Seems to be resolved. 😄

[2018-02-16 19:43] #110 closed, assigned to nobody

[2018-03-01 01:10] purplediane opened #146 "pyvideo.org search not returning recent items."
Search doesn't seem to be searching the whole database. A few days ago I searched for `pdb` and got a nice list of videos about pdb. I gave the results link (`http://pyvideo.org/search.html?q=pdb`) to my students as a reference for videos about pdb.
Today that link comes up empty. A number of other searches also come up empty, like `iterator`, for example. Searches that get any results don't seem

[2018-03-01 03:16] logston commented on #146
Sorry to hear that @purplediane and thanks for letting us know!

[2018-03-01 06:44] zerok commented on #146
@ulope Seems like the disk is full on that server. Could you please take a look and restart the search service? Thanks 😄

[2018-03-05 13:41] ulope commented on #146
@zerok Thanks for the heads up. Apparently, my monitoring still isn't working properly :(

The disk is now purged, the index re-created, the service is running again and returning results.

However during re-indexing I noticed quite a few errors in the log relating to unexpected date formats. I'll open a separate issue for that.

[2018-03-05 13:42] zerok commented on #146
@ulope : Thanks! I will take a look ASAP.

[2018-03-06 17:36] Daniel-at-github opened #147 "Deploy PyCascades 2018"
PyCascades 2018 is ready to deploy
https://github.com/pyvideo/data/pull/456

[2018-05-10 13:05] Daniel-at-github commented on #147
Done: http://pyvideo.org/events/pycascades-2018.html

[2018-05-10 13:05] #147 closed, assigned to nobody

[2018-05-29 12:28] vwoloszyn opened #153 "remove video from http://pyvideo.org"
I would like to remove my video from pyvideo.org. I am asking this issue here because the website does not provide any way to do that.
http://pyvideo.org/speaker/vinicius-woloszyn.html
Thank you very much in advance.

[2018-05-30 08:08] Daniel-at-github commented on #153
Will fix in https://github.com/pyvideo/data/issues/500. You can close it here.

[2018-05-31 15:08] vwoloszyn commented on #153
full link for that http://pyvideo.org/scipyla-2016/a-simplificacao-textual-como-instrumento-de-inclusao-cognitiva.html

[2018-06-01 20:19] Daniel-at-github commented on #153
Web updated ( https://github.com/pyvideo/pyvideo/pull/154 ) now it shows an error 404 page.
The data is not erased from the repository because we can't remove it from source https://www.youtube.com/watch?v=F_i0KJ4VOu4 or from the list https://www.youtube.com/playlist?list=PLfVc-mR8AkU1ZOYwkDLtv62IOWRuZrxlM and prevents it from been corrected at later time and reincorporated again.

[2018-06-18 23:44] logston commented on #73
Long over due, but we are now https.

[2018-06-18 23:44] #73 closed, assigned to nobody

[2018-06-18 23:56] ajdavis commented on #73
w00t!

[2018-08-07 07:55] redapple commented on #153
@vwoloszyn , I'm closing this issue.
Is what @Daniel-at-github commented https://github.com/pyvideo/pyvideo/issues/153#issuecomment-393998139 ok with you?

[2018-08-07 07:55] #153 closed, assigned to nobody

[2018-08-07 08:27] vwoloszyn commented on #153
Hi all. The video is still on youtube. How can I delete it?

[2018-08-07 08:36] redapple commented on #153
@vwoloszyn , PyVideo is not the publisher of the videos listed.
You will have to contact the owner of that YouTube channel, SciPy Latin America (see https://www.youtube.com/channel/UClb88lwUvlFikmhTzVGsVGA/about), or YouTube directly for that particular video to be removed.

[2018-08-07 08:51] vwoloszyn commented on #153
ok. thank you for the information.

[2018-08-26 19:39] abhiramr opened #159 "pyvideo.search returns 404 links whenever there's an '@' or ':' in the name"
E.g. Search link  - https://pyvideo.org/search.html?q=django

E.g result on Search page - "Carl Meyer about Django @ Instagram at Django: Under The Hood 2016"
**Associated URL in search page -**

**Actual JSON file and consequently html -**

The "hit.fields.url " gets populated by substituting '@' as 'at' and ':' as '-'. If these links don't match the ones in the JSON files, the returned pages are

[2018-10-19 16:40] npardington commented on #102
I had originally solved this issue but then the build failed & I assumed that was the reason it never got merged so I removed the PR after it hadn't been merged for a while. But looking over other PRs it looks like some build failures don't matter. Should I push up the solution again & ignore any potential build failures?

[2018-10-20 17:10] Daniel-at-github commented on #102
Push up the solution again and ask if the errors are relevant in the pull request (just my opinion).

[2018-10-25 17:37] zerok commented on #159
Sorry for taking so long 🙁  I will try to hotfix this ASAP. Just haven't looked at the code in a long time ^_^

[2018-10-25 17:45] abhiramr commented on #159
I'm happy it's being looked into at all! :) I tried to check it out myself but got busy and dropped it :(

[2018-10-25 17:48] zerok commented on #159
Ah, the problem is actually that the library I'm using to generate the slug for the URL produces a different output for special characters than pelican.utils.slugify. I guess it is time to re-implement that helper in Go ^_^

[2018-10-25 18:51] zerok commented on #159
Fixed with https://github.com/zerok/pyvideosearch/commit/6ebcbd1b78434d052055d6f9362ab731ec27fa4f 🙂  The fix is also deployed and the search page.

[2018-10-25 18:51] #159 closed, assigned to nobody

[2018-10-26 05:11] abhiramr commented on #159
Verified on the search page as well ! :) Thank you! ^_^

[2018-11-15 16:46] redapple opened #185 "Search: broken results because of different link generation from slugs"
@zerok , continuing the discussion in https://github.com/pyvideo/data/issues/584

It looks like the indexing is not using the same slugs to build the URLs to point to the correct event or video pages.

Example:
- with the query "reactjs", that DjangoCon EU 2016 video _"Django and ReactJS: The good, the bad and the ugly"_ from Tomáš Ehrlich is found, but the links are wrong:
  - the talk link gener

[2018-11-15 19:16] zerok commented on #185
Ah, so the conference slug is using a different algo. Will try to look into it this weekend.

[2018-11-18 10:22] zerok commented on #185
With some luck it's fixed now with https://github.com/zerok/pyvideosearch/commit/6c93c11fc945dba6dd10096abea3fc7de21f928e 🙂

[2018-11-18 10:22] #185 closed, assigned to nobody

[2018-12-21 14:31] douglance opened #202 "Sorting"
It would be great to be able to sort the videos by popularity, views, likes, or some other metric. There's so much content and videos are so long, that it's difficult to find really high quality videos.

[2018-12-22 20:12] logston commented on #202
Hi @douglance, thanks for the suggestion and I recognize that it can be somewhat hard to find a video based on its popularity.

However, at this time, a rating system would be contradictory to our Why and to our Development Philosophy.

- https://pyvideo.org/pages/about.html
- https://github.com/pyvideo/pyvideo/wiki/Development-Philosophy#new-features

I encourage you to use whatever resources we

[2018-12-22 20:12] #202 closed, assigned to nobody

[2018-12-23 17:42] douglance commented on #202
Oh interesting. Did not realize that was the idea behind the site. I will build a system myself. Thanks for the information!

[2019-05-15 19:03] jackiekazil opened #214 "Pycon 2019 Keynote video link returns 404"
When I search for Russell's PyCon Keynote, I get these results: https://pyvideo.org/search.html?q=Russell

When I click on the first link, it takes me here: https://pyvideo.org/pycon-us-2019/russell-keith-magee-keynote-pycon-2019.html ... which returns a 404.

Not sure what is happening there, but wanted to put it on your radar.

[2019-05-31 23:55] nwalsh1995 opened #215 "Show videos sorted by published date"
Hi all,

Really love this project but it has one feature that I would love, and that is the ability to display ALL videos sorted by their creation date, so you can view the newest videos first. Alternatively, have a way to sort events based on their date on the [events page](https://pyvideo.org/events.html). That way I can get the same information but do it by event.

Right now, I don't think ther

[2019-06-12 23:01] treyhunner opened #218 "Search results link to a 404 page video"
The first result here links to a URL which doesn't resolve: https://pyvideo.org/search.html?q=unicode+python+2+better+python+3

[2019-06-12 23:02] treyhunner commented on #218
This may be related to #214

[2019-07-27 08:47] goragora55 opened #227 "Ru"

[2019-08-17 08:31] Daniel-at-github commented on #227
:confused:

[2019-08-17 08:31] #227 closed, assigned to nobody

[2019-11-10 21:39] willkg opened #239 "thank you and archiving"
I just archived a few of the repositories related to the previous incarnation of pyvideo. Just wanted to let you know it was me. If any of them are still in use, kick me and I can un-archive them. Also, if there are others that should get archived, we should archive them, too.

Thank you all so much for continuing on pyvideo! I appreciate it so much! It's a project @codersquid and I spent a lot of

[2019-11-12 20:04] CarlFK opened #244 "pycon 2013 link broken"
https://us.pycon.org/2013/schedule/ has:

Talk and tutorial videos (where permitted) and slides:
    http://www.pyvideo.org/category/33/pycon-us-2013

which is 404

[2019-11-15 03:05] rixx opened #240 "Search yields incomplete results / missing results"
After watching a talk about Rust extensions at [PyGotham](https://pyvideo.org/events/pygotham-2019.html) titled ["Build your Python extensions with Rust!"](https://pyvideo.org/pygotham-2019/build-your-python-extensions-with-rust.html), I wanted to see other talks on the topic, but when I searched for Rust, the talk I had just been watching did not show up.

I saw some other tickets here about new

[2019-12-01 20:01] SuperKogito commented on #244
I think broken links are a common issue and a radical solution to this problem is automatically checking and reporting them. Luckily the new GitHub actions and  workflows help with that. I recently wrote an action that just does that. [URLs-checker](https://github.com/marketplace/actions/urls-checker) will check and report broken links, which is useful to spot similar issues to this one.

[2019-12-09 23:39] redapple commented on #239
Thank you for everything @willkg

[2019-12-09 23:39] #239 closed, assigned to nobody

[2019-12-20 13:48] astromatt opened #243 "Search filtering and ordering by year"
PyVideo has grown. And this is super good! But with this there's a lot of old videos from 2014, 2015 with description of things which you do differently now.

Can you please add an option to filter your results by year, or at least order results by date?

The most important is date, but there are some other desirable filtering options:
- length
- conference
- speaker

[2019-12-24 08:18] Daniel-at-github commented on #244
Seems addressed in this repo:

https://github.com/pyvideo/data/blob/0b89c66fdde75968efb829cdb1e85adf1169ea96/pycon-us-2013/category.json#L2
[code]
Transferring the issue to pyvideo/pyvideo, where this alias should be generated.

[2020-01-06 21:34] abitrolly opened #247 "Publish analytics with 18F tools"
Instead of private email process just export it using https://github.com/18F/analytics-reporter

[2020-01-20 14:57] ds33s opened #248 "Search facility broken on pyvideo.org"
The search facility is no longer working.

For example the following link:
[https://pyvideo.org/search.html?q=celery](https://pyvideo.org/search.html?q=celery)
Used to show all videos related to the 'Celery' library, but now shows no results.

![broken-search](https://user-images.githubusercontent.com/50616783/72736150-16636500-3b95-11ea-8298-da189ad2552c.png)

[2020-01-20 15:26] ds33s commented on #248
The issue may be due to the api:

[https://api.pyvideo.org/v1/search?q=celery](https://api.pyvideo.org/v1/search?q=celery)

returning an empty result set:
[code]

[2020-01-20 20:31] zerok commented on #248
Sorry, looks like my server's index got polluted over the holidays. I'll try to find some time tomorrow to fix that. Sorry :(

[2020-01-21 09:17] ds33s commented on #248
Thanks for looking into it @zerok - it all seems to be up and running again.

[2020-01-21 17:33] zerok commented on #248
I’ve also had to fix a couple of issues in the code itself. With some
luck, it should run more stable now :)

On 21 Jan 2020, at 10:17, Doron wrote:

[2020-02-15 07:09] szabgab opened #251 "List videos by language"

[2020-02-15 07:09] szabgab opened #252 "Allow search to be filtered by language of the video"

[2020-02-15 07:20] szabgab opened #254 "Configure Travis-CI to run tests once a week or even once a day"
The tests in Travis-CI have failed in all 3 of my pull-requests. It seems regardless to what the changes were.  It seems something has changed in the environment since the most recent build 6 days ago.

Travis can be configured to run the job once a day (or once a week) even without any push/PR.
Enabling this could help noticing such external changes soon after they happen.

[2020-02-15 07:35] szabgab opened #255 "use the language codes of wikipedia"
For example Spanish is `es` on Wikipedia and not `spa` as it is on PyVideo.
See the language links here: https://www.wikipedia.org/

If you agree to this change I can implement it.

If you accept  #253  you'll see there are a number of videos that are marked with incorrect language tags. (e.g 'en' instead of 'eng' and 'it' instead of 'ita'. I'll fix those, but IMHO it would be better to already fi

[2020-02-17 21:16] redapple commented on #255
hi @szabgab , thanks you bringing this up.

The "language" field in videos JSON files is defined as [ISO 639-3 language code](https://github.com/pyvideo/data/blob/355bd8c30737194d56b8627d4d04c38ed4d8c4c4/.schemas/video.json#L30), i.e. [3-letter language codes](https://en.wikipedia.org/wiki/ISO_639-3).

[ISO 639-2 codes](https://en.wikipedia.org/wiki/List_of_ISO_639-2_codes) are certainly more comm

[2020-02-17 21:26] redapple commented on #254
The errors you saw in Travis have already been reported in https://github.com/pyvideo/pyvideo/issues/117
It's more related to who opens the PR than the environment

[2020-02-18 04:23] szabgab commented on #255
Thanks for the reply @redapple
I did not realize the 3-letter codes were another standard.
In that case let's stick to the ISO 639-3. I'll make the changes in that direction.

[2020-02-22 18:38] #255 closed, assigned to nobody

[2020-02-22 19:54] Daniel-at-github opened #256 "pycon-odessa-2019 aleksei-borisenko... not generated"
Pyvideo/data have data for [pycon-odessa-2019 aleksei-borisenko... ](https://github.com/pyvideo/data/blob/master/pycon-odessa-2019/videos/aleksei-borisenko-setevaia-programmiruemost-s-ispolzovaniem-python-ua.json) but nothing is generated (See https://pyvideo.org/events/pycon-odessa-2019.html)
In https://github.com/pyvideo/pyvideo_scrape/pull/1 fix proposal tackles the issue but applying it to Pyv

[2020-02-25 05:28] logston opened #258 "Move from Travis CI to GitHub actions"

[2020-02-25 21:56] redapple commented on #248
Hi @zerok , I'm getting an HTTP 404 now
e.g. https://api.pyvideo.org/v1/search?q=python
could you have a look?

[2020-02-26 06:41] zerok commented on #248
@redapple Hi :) Could it be that that api.pyvideo.org no longer points at my server? It seems to resolve to 45.76.95.160 but should resolve to 46.101.212.176 🙃

[2020-02-26 22:11] redapple commented on #248
@zerok , I have absolutely no idea. Probably @logston knows

[2020-02-27 03:47] logston commented on #248
Ah, thank you @zerok for pointing that out. I've updated the DNS record. Let's see how it goes. TTL is 10800 so it could take a few hours before we see the change.

[2020-02-27 03:51] logston commented on #248
Hmm, looks like the cert is not working in Chrome:
<img width="608" alt="Screen Shot 2020-02-26 at 10 50 17 PM" src="https://user-images.githubusercontent.com/2641765/75410608-7793fc00-58ea-11ea-9740-867be3168994.png">

[2020-02-27 07:42] zerok commented on #248
Fixed, sorry about that :)

[2020-02-27 09:32] redapple commented on #248
Search is still not working for me.
My firefox console says:

[2020-02-27 09:36] zerok commented on #248
Now ^_^

[2020-02-27 09:42] redapple commented on #248
works for me @zerok ! thank you.
@logston , all good on your end too?

[2020-02-29 05:02] logston commented on #248
Looks good! Thanks @zerok and @redapple!

[2020-02-29 05:02] #248 closed, assigned to nobody

[2020-03-02 08:16] #251 closed, assigned to nobody

[2020-03-02 08:16] szabgab commented on #251
Implemented

[2020-03-02 08:25] szabgab opened #260 "Where is the source of api.pyvideo.org ?"
In order to implement #252 I'd either do it in JavaScript post-processing the search results, or
in the back-end search engine.
However I could not find a reference to where the source of api.pyvideo.org can be found or any explanation how that works. Have I missed it? Could you share links and explanations?

[2020-03-02 12:20] zerok commented on #260
You can find the search backend here: https://github.com/zerok/pyvideosearch 🙂

[2020-03-04 05:25] szabgab commented on #260
Awesome. Thanks.
I've added a link to it to the wiki page: https://github.com/pyvideo/pyvideo/wiki/Search-API
Could you include a few words on where and how does it run in production, please? Either on the wiki page or in the README.md of the Search-API?

[2020-03-04 05:25] #260 closed, assigned to nobody

[2020-03-13 13:42] JulienPalard commented on #94
Spotted the issue here https://pyvideo.org/pycon-fr-2019/comment-faire-confiance-aux-metadonnees-de-musique.html

3 tabs, 3 videos, but the 3 videos are "stacked veritcally" in the first tab.
![Screenshot_2020-03-13 Comment faire confiance aux métadonnées de musique](https://user-images.githubusercontent.com/239510/76626142-e43d0680-6538-11ea-86dd-1015b21ceb88.png)

[2020-03-13 16:31] #94 closed, assigned to nobody

[2020-03-13 22:08] JulienPalard commented on #94
Thanks @redapple for fixing this!!

[2020-03-17 15:50] codersquid opened #267 "Rackspace suspension warning for pyvideo rackspace account"
Hi all,

It's been forever since I logged in to the email account that was used for the old pyvideo account on rackspace that was sponsored by them. I logged in today and found a suspension warning for that account because it started getting billed in January. I've got a January bill for 171.10 and a February bill for $473.84. The previous months are 0.

Are pyvideo files still stored in that acco

[2020-03-17 15:52] codersquid commented on #267
Ugh I went through old (closed) tickets and saw one from a couple of months ago.

[2020-03-17 15:56] redapple commented on #267
@logston would probably know if we have anything in Rackspace.
I would say no, but I can't be sure.

[2020-03-17 15:58] codersquid commented on #267
A lot of earlier videos might be linked to rackspace content. I think at some point someone may have been mirroring them on archive.org, but I have no idea what is going on these days.

Perhaps @CarlFK knows.

[2020-03-17 16:08] redapple commented on #256
Today March 17, I can see talks listed for PyCon Odessa 2019:
![image](https://user-images.githubusercontent.com/886296/76875585-0902e800-6871-11ea-95be-aafc61d8a546.png)

and the links do lead to talk pages.

The problem mentioned in https://github.com/pyvideo/pyvideo_scrape/pull/1 looks related to how [pyvideosearch](https://github.com/zerok/pyvideosearch) generates URLs. The filename should be

[2020-03-17 16:12] ewdurbin commented on #267
Hi! I'm Director of Infrastructure at the Python Software Foundation.

What is currently being hosted at Rackspace and being billed for? If there's a need to move resources quickly out of Rackspace the PSF infra may be able to absorb them temporarily (or long term depending on what the need is).

As far as the billed costs go I hope that Rackspace is able to understand and support PyVideo, but in

[2020-03-17 16:30] codersquid commented on #267
The majority of the bill is for some cloud servers. Cloud files and CDN backup are next, but less.

I think @CarlFK uses the cloud servers for machine that process videos he makes at python conferences (and other open source events).

I am extremely out of the loop. The account is going to get suspended, I do not know what that will take down.

I do not want to be the owner of this account anymore

[2020-03-17 20:49] ewdurbin commented on #267
If any of the pyvideo.org infra needs a place to land, please let me know!

[2020-03-17 20:50] codersquid commented on #267
When I do a search in the pyvideo/data repo for rackcdn I get a huge number of hits.

There are containers here, and one is called pyvideo.
![containers](https://user-images.githubusercontent.com/529748/76899965-8117e080-6866-11ea-9b91-027304123cde.png)

[2020-03-17 21:16] ewdurbin commented on #267
Wrote this quick script to scan the pyvideo/data repo:

[code]

Full Results: https://gist.github.com/ewdurbin/81f32403f7488b400e1f3d59bdbf87b6

Slightly modified:

[code]

It appears there are two videos that are in the dataset, but don't have anything but pyvideo hosting them:

[code]

[2020-03-18 11:36] codersquid commented on #267
Ok, then I think things are safe with closing this once someone handles those two files. Worse case scenario, no one does and they get lost. I'm currently too swamped to handle them.

[2020-03-19 10:24] Daniel-at-github commented on #256
Closed while no more similar cases

[2020-03-19 10:24] #256 closed, assigned to nobody

[2020-03-22 14:47] logston commented on #267
Very big thank you to everyone on this thread. Here are the two videos that could be lost by ending our Rackspace partnership.

http://05d2db1380b6504cc981-8cbed8cf7e3a131cd8f1c3e383d10041.r93.cf2.rackcdn.com/pycon-au-2010/463_pyconau-2010-using-python-in-a-scientific-real-time-data-collection-network.flv

http://05d2db1380b6504cc981-8cbed8cf7e3a131cd8f1c3e383d10041.r93.cf2.rackcdn.com/pycon-au-20

[2020-03-22 14:57] logston commented on #267
Looks like they are already up on Archive.org!

- https://archive.org/details/pyvideo_468___pyconau-2010-getting-started-with-apache-mod-wsgi
- https://archive.org/details/pyvideo_463___pyconau-2010-using-python-in-a-scientific-real-time-data-collection-network

They just need to be integrated into the data repo.

[2020-03-22 15:05] logston commented on #267
These two PRs should fix this issue:

- https://github.com/pyvideo/data/pull/1008
- https://github.com/pyvideo/data/pull/1009

[2020-05-14 19:49] akielbowicz opened #271 "Search not working"
I've not been able to use the search tool of the page. It returns nothing for everything that I tried.

[2020-05-14 20:15] zerok commented on #271
Arghh... sorry, my fault. Will fix it ASAP :)

[2020-05-14 20:23] zerok commented on #271
Done :) Sorry about that.

[2020-05-14 20:34] akielbowicz commented on #271
@zerok Thanks!

[2020-05-14 20:34] #271 closed, assigned to nobody

[2020-05-20 21:17] Abdur-rahmaanJ opened #273 "https://pyvideo.org/pycon-thailand-2018/flask-kaidee.html missing"

[2020-08-02 14:43] Daniel-at-github commented on #273
:x: https://pyvideo.org/pycon-thailand-2018/flask-kaidee.html
:heavy_check_mark: https://pyvideo.org/pycon-thailand-2018/flask-n-kaidee.html

[2020-08-02 14:43] #273 closed, assigned to nobody

[2020-11-12 20:49] gcdeshpande opened #274 "wrong link in Contributors file"
Hi,

Please check the contributors file. Some other website and link included.
Kindly correct the same.

[2020-11-12 20:55] gcdeshpande opened #275 "Wrong Link and Wrong email id?"
Hi,

Please check the contributors' file. Some other website (PyTube.org) and link included.
Kindly correct the same.

Also check for email id mentioned in "Want our Google Analytics info?" Section. is the email id mentioned correct?

[2020-11-28 18:53] logston commented on #275
No, the email ID should be updated to direct people to the Gitter channel.

[2021-04-06 16:09] vigo opened #279 "Djangocon US 2013 videos ?"
Links are broken :(

https://pyvideo.org/events/djangocon-us-2013.html

[2021-04-09 21:37] logston commented on #279
Oh no! Looking into this, it looks like the videos have been removed from Youtube. Perhaps they were moved?

@jefftriplett do you know if the djangocon us 2013 youtube videos have been moved?

[2021-04-10 04:32] jefftriplett commented on #279
I'm afraid this is several years before I had anything to do with DjangoCon US or the non-profit. One of the previous organizers must have deleted it since this predates us even having a YouTube page to store stuff.

If you stumble on a backup somewhere, please let me know and we can probably reload them on YouTube and Archive.org.

[2021-04-10 10:55] vigo commented on #279
https://web.archive.org/web/20171229054325/https://pyvideo.org/events/djangocon-us-2013.html

but it's almost impossible to reach videos.

[2021-04-11 18:01] logston commented on #279
I'm sorry @vigo, but after searching archive.org and not finding anything, I'm not sure what more we can do about this.

[2021-04-11 18:05] vigo commented on #279
thanks for the effort.

[2021-04-11 22:13] logston commented on #279
Thanks for understanding.

[2021-04-11 22:13] #279 closed, assigned to nobody

[2021-04-15 20:55] JulienPalard opened #281 "Hosting a peertube instance?"
Here at AFPy we produce some videos (PyConFr, montly meetups, ...), and are trying to find proper and multiple ways to host them, so [currently we do use](https://github.com/pyvideo/data/blob/55ba73c57a4e72040c8e02d909fd9cdc818e369d/en-attendant-pyconfr-2020-2021/videos/dessine-moi-une-tortue-antoine-entwanne-rozo.json):

- dl.afpy.org: a simple machine we host, exposing a simple directory listing

[2021-04-16 17:39] logston commented on #281
Hey @JulienPalard, thanks for the suggestion. I have a few questions.

1. Who would be accountable for running the instance?
2. Would all pyvideo videos live there?
3. Are you suggesting the video links default to peertube?
4. Would we remove the youtube/etc links from this repo?
5. Has there been any issue with the current setup that PyVideo has? Or is this an effort to consolidate python video h

[2021-04-16 17:40] #258 closed, assigned to nobody

[2021-04-16 17:40] #267 closed, assigned to nobody

[2021-04-16 17:42] logston commented on #117
We've now moved to GitHub actions.

[2021-04-16 17:42] #117 closed, assigned to nobody

[2021-04-16 17:43] #146 closed, assigned to zerok

[2021-04-17 13:09] JulienPalard commented on #281
This is a good question, I'm just throwing the idea without an answer to this question, I'm really not aware of the "sysadmin workforce of PyVideo".

I have no opinion on this, there's pros and cons of hosting all videos (like the ability to find all videos from peertube search engine and https://sepiasearch.org/).

From an end user privacy (and advertising invasion? I don't know if youtube push a

[2021-04-18 11:33] ewdurbin commented on #281
Just to add some context, if the PyVideo project decides to take on the maintenance of a peer tube instance, the PSF Infrastructure can support it as a financial and support backstop assuming that estimated costs are reasonable.

Once a decision is made we can work out the details.

[2021-05-02 21:01] logston commented on #281
Thanks @JulienPalard. Pardon the delay in response as this is a small team and all volunteer.

Although the solution of a hosting a peertube instance sounds interesting, it ultimately sounds like more work than I think PyVideo can handle. PyVideo turned towards a very low maintenance model many years back and I believe its success and endurance since is largely attributed to that choice. It's just

[2021-05-02 21:02] logston commented on #281
@ewdurbin, Thanks for the offer!

[2021-05-02 21:48] JulienPalard commented on #281
Thanks @logston for your answer.

As a big fan of static sites, I can only understand and approve your choices here.

While I'm here, I recently discovered the "Other events in this series" feature in https://pyvideo.org/events/pycon-fr-2019.html, which is very nice! Thanks for the amazing job you're doing with pyvideo!

[2021-05-02 21:48] #281 closed, assigned to nobody

[2021-06-13 15:30] dougBelcher opened #282 "404 on FastAPI PyCascades 2021 Talk"
Got a 404 on the link to a FastAPI talk by Aaron Bassett for PyCascades 2021
https://pyvideo.org/pycascades-2021/introducing-the-farm-stack-fastapi-react-mongodb-aaron-bassett-pycascades-2021.html

[2021-06-14 15:14] di commented on #282
Looks like the entire PyCascades 2021 event is not showing: https://pyvideo.org/events/pycascades-2021.html is 404 as well, and 2021 is not listed here: https://pyvideo.org/events.html

[2021-06-14 15:16] di commented on #282
Looks like search is separate from the website itself, and the `data` directory hasn't been updated since April: https://github.com/pyvideo/pyvideo/commit/f24e9153bb684d840eb35df285f2028523243c09

[2021-06-28 02:42] #282 closed, assigned to nobody

[2021-07-14 21:16] bityob opened #285 "[Feature Request] Add views count and options to sort by this value"
Hey,

Views count should by dynamically received from YouTube once we load a video page,
but also with persistence (last known value), so we can filter with it.
We can also use a cronjob to get the values daily.

Thanks.

[2021-07-21 23:43] logston commented on #285
Thanks for the input @bityob. However, one of the main goals of PyVideo is to be low maintenance for its keepers. Adding this feature would greatly increase the amount of work we need to do each month (as the site is currently statically generated).

Again much appreciated but we'll have to pass on this for now.

[2021-08-29 01:22] etanot opened #286 "Wrong youtube.com URL for youtu.be domain"
For videos, whose URL contains `https://youtu.be` domain, we're getting an extra `/` in actual video URL.

### Steps to reproduce
- Open [Name things once](https://pyvideo.org/pyohio-2015/name-things-once.html#youtube) talk.
- Open browser console and reload the page.
- Watch for first `youtube.com` request in `Network` section.

First request to "youtube.com" is HTTP `303` and GET request URL is

[2021-09-03 05:50] anukaal opened #288 "to use the latest version of jinja 2 ?"
can we use the latest version of `Jinja2==3.0.2`

[2021-09-03 17:42] logston commented on #288
Sure!

[2021-09-22 20:11] #286 closed, assigned to nobody

[2022-03-06 02:07] #240 closed, assigned to nobody

[2022-03-15 19:53] zerok opened #291 "IP change for api.pyvideo.org"
Hey :) To the person who has DNS access for pyvideo.org: Could you please change the IP for api.pyvideo.org from 46.101.212.176 to 142.132.191.121 ? I did some server-moving and would like to deprovision the old server :)

The search server is already running on the new host but LetsEncrypt might require a couple of loops before the cert can get verified :)

[2022-03-16 05:21] logston commented on #291
Done! Thanks @zerok!!!

[2022-03-16 05:21] #291 closed, assigned to nobody

[2022-03-16 06:44] zerok commented on #291
Awesome, thank you very much, Paul! I couldn't find your e-mail address anymore 🤣

[2022-06-28 15:19] staeff opened #293 "Broken link in search results"
The talk "Logging and Exception Handling for Django" by Ryan Sullivan (DjangoCon US 2019) has a faulty link in the search results. It is the first hit on this page https://pyvideo.org/search.html?q=Logging+and+Exception+Handling+for+Django

The link used in this search result is "https://pyvideo.org/djangocon-us-2019/-logging-and-exception-handling-for-django.html", but the correct link would be "

[2022-06-28 16:38] zerok commented on #293
Hi :) I will try to find some time for this in the next couple of days :)

[2022-06-29 16:11] zerok commented on #293
Ahhh, there is an extra space in the JSON file :) Will strip that for the slug generation.

[2022-06-29 16:59] #293 closed, assigned to nobody

[2022-06-29 19:20] staeff commented on #293
Fantastic, I had no idea were to look for the problem 👍

[2022-07-23 10:21] andife opened #296 "Several (Two) events per year?"
How can I link a series of events, when there are more than one event a year?
For example: 2022_06, 2021_10, 2021_03 (Year_month)
Which file do I've to change/adjust?

[2022-07-24 19:13] logston commented on #296
Hi @andife, that's a good question. We don't really have a set way of doing that at this time.

The closest we have is groups that have may events per year. For example, the [Minsk Python Meetup](https://github.com/pyvideo/data/tree/fd733eab402966f234d61bcfbef19d7a656a0e67/minsk-python-meetup).

You might look at them for their layout for direction.

As for files to adjust, I think you would only

[2022-07-24 19:13] #296 closed, assigned to nobody